<template lang="html">

    <div class="col-md-12 col-lg-6 kanban-card" style="padding:0 4px" ref="card"
         v-bind:data-issue-id="issue.id"
         v-bind:data-status-id="issue.status.id"
         v-bind:data-project-id="issue.projectId"
         v-on:click="$emit('click')" >

            <div class="box box-solid "
                 v-bind:style="'margin-bottom: 8px; border-right: 3px solid '+ ( issue.milestone.length>0 ? ''+genStyleHSLColor(issue.milestone[0].id) : '#aaa' ) +';background-color:'+ ([ '#d00','#f00','#fdd','#fff','#ddd' ][issue.priority.id]) ">

                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-md-12" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden">
                            <!-- アサイン済み -->
                            <template v-if="!!issue.assignee">
                                <img-avatar
                                        class="user-from"
                                        v-bind:src="endpoint+'users/'+issue.createdUser.id+'/icon?apiKey='+apiKey" v-bind:alt="issue.createdUser.name" />
                                <i class="fa fa-angle-right v-mid arrow"></i>
                                <img-avatar
                                        class="user-to"
                                        v-bind:src="endpoint+'users/'+issue.assignee.id+'/icon?apiKey='+apiKey" v-bind:alt="issue.assignee.name" />
                            </template>
                            <!-- 未アサイン -->
                            <template v-else>
                                <img-avatar
                                        style="width: 32px; height:32px; border: 1px #eee solid; "
                                        v-bind:src="endpoint+'users/'+issue.createdUser.id+'/icon?apiKey='+apiKey" v-bind:alt="issue.createdUser.name" />
                                <i class="fa fa-angle-right v-mid arrow"></i>
                                <img-avatar
                                        style="width: 19px; height:19px; border: 2px #888 dotted; background:#fafafa;"
                                        src="https://dummyimage.com/10x10/fff/fff.png" v-bind:alt="'未設定'" />
                            </template>

                            <div class="labels">

                                <span v-if="item = issue.issueType"
                                      v-bind:class="'label label-'+ ['info','success','warning','danger','primary'][item.id%5] +' label-tag'">{{item.name}}</span>
                                <br>

                                <span v-for="item in issue.milestone"
                                      class="label label-tag" v-bind:style="'background: '+genStyleHSLColor(item.id)+';'">{{item.name}}</span>
                                &thinsp;
                            </div>

                            <div class="pull-right">
                                <button class="btn btn-box-tool" v-on:click="$emit('edit')"><i class="fa fa-pencil-square-o"></i></button>
                                <button class="btn btn-box-tool" v-on:click="gotoBacklog();"><span class="backlog-icon" v-bind:style="'background-image: url('+backlogImage+')'">&nbsp;</span></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--box-caption -->

                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12 text-ellipsis">
                            <span class="text-sm text-bold">{{issue.summary}}</span>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                    <div class="row">
                        <div class="col-md-12 text-right" style="font-size:70%">{{ new Date(issue.updated).toLocaleDateString() + ' ' + new Date(issue.updated).toLocaleTimeString() }}</div>

                    </div>
                </div>
                <!-- box-footer -->

            </div>
            <!-- /.box -->

    </div>

</template>

<script>
    import { mapGetters, mapActions } from 'vuex'
    import * as types from 'vuex/mutation-types'
    import util from 'components/util'

    export default {
        name: 'KanbanCard',

        props:{
            issue:{
                type:Object
            },
            project:{
                type:Object
            },
        },

        data() {
            return {

            }
        },

        computed: {
            ...mapGetters([
                'apiKey',
                'endpoint',
                'getActiveProjectIds',
                'getActiveMemberIds'
            ]),
            backlogImage(){
                return require('assets/backlog_100x100.png');
            }
        },

        mounted(){
            let $card = $(this.$refs.card);
            let clickCtx = null;
            let self = this;
            $card
                .on('mousedown',()=>{
                    clickCtx={start:true};
                })
                .on('mouseup',()=>{
                    if(clickCtx) self.$emit("edit")
                    clickCtx=null;
                })
                .draggable()
                .on('dragstart',()=>{
                    $card.css({ zIndex:1000 })
                    clickCtx=null;
                })
                .on('dragstop',()=>{
                    $card.css({ left:'',top:'',zIndex:'' });
                });
        },

        methods: {
            ...mapActions([
                'fetchProjects',
                'fetchWorkspace',
                'fetchIssues'
            ]),

            gotoBacklog(){
                window.open(
                    'https://sonicmoov.backlog.jp/view/'+this.issue.issueKey,
                    '_blank'
                );

            },

            genStyleHSLColor(number){return util.genStyleHSLColor(number)}
        }
    }
</script>

<style scoped lang="scss">
    .box .box-header, .box .box-body, .box .box-footer {
        padding: 4px;
    }
    .box-header.with-border{
        border-bottom: 1px solid rgba(0,0,0,0.07);
        background-color: rgba(0,0,0,0.03);
    }
    .v-mid{
        vertical-align: middle;
    }
    .arrow {
        margin: 0 2px;
    }
    .text-ellipsis{
        text-overflow: ellipsis; white-space: nowrap; overflow: hidden
    }
    .user-from{
        width: 20px; height:20px; border: 1px #eee solid;
    }
    .user-to{
        width: 32px; height:32px; border: 1px #eee solid;
    }
    .labels {
        display: inline-block;
        line-height: 100%;
        vertical-align: middle;
        .label {
            display: inline-block;
            line-height: 140%;
            min-width: 50px;
            transform: scale(0.85);
        }
        .label-tag{
            padding: 0 4px; font-size: 70%;
        }
    }
    .box-footer{
        border-top: 1px solid rgba(0,0,0,0.07);
        background-color: rgba(0,0,0,0.03);
    }
    .btn-box-tool {
        padding: 5px 2px;
    }
    .backlog-icon{
        display: inline-block;
        vertical-align: middle;
        width: 1em;
        height:1em;
        background-size: 120%;
        margin-bottom: 3px;
        border-radius: 2px;
        background-position: center;
    }
</style>
