<template lang="html">

    <div>

        <div class="box box-solid">

            <div class="box-header with-border">
                <h2 class="box-title"></h2>
                <div class="pull-left">
                    担当者:
                    <div id="members" style="display: inline-block; border-radius: 16px">
                        <ToggleGroup
                                v-on:change="filteredMemberIds= [null].concat(activeMemberIds).filter((id)=>$event.indexOf(id)===-1)"
                                v-model="[null].concat(activeMemberIds).filter((item)=>!isFilteredMemberId(item))">

                            <img-avatar
                                    v-bind:toggle-value="null"
                                    v-bind:id="'member_'+null"
                                    v-bind:style="'width: 30px; height:30px; border: 2px #888 dotted; margin: 0 4px; background:#fafafa;'"
                                    v-bind:class-off="'user-filtered'"
                                    v-bind:alt="'未設定'"
                                    src="https://dummyimage.com/10x10/fff/fff.png" />

                            <template v-for="(id) in activeMemberIds">
                                <img-avatar
                                        v-bind:toggle-value="id"
                                        v-bind:id="'member_'+id"
                                        v-bind:style="'width: 32px; height:32px; border: 1px #eee solid; margin: 0 4px; background:#fafafa;'"
                                        v-bind:class-off="'user-filtered'"
                                        v-bind:src="endpoint+'users/'+id+'/icon?apiKey='+apiKey" />
                            </template>

                        </ToggleGroup>
                    </div>

                </div>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" v-on:click="refresh()">
                        <i class="fa fa-refresh"></i>
                    </button>
                </div>
            </div>
            <!-- box-heder -->


            <div class="box-body no-padding">
                <div class="table-responsive" style="overflow:visible">
                    <table class="table table-striped" style="table-layout: fixed;">
                        <thead>
                        <tr>
                            <th>未着手</th>
                            <th>処理中</th>
                            <th>処理済</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr>
                            <template v-for="statusId in [1,2,3]">
                                <td v-bind:class="'status'+statusId" style="padding: 4px 4px;"></td>
                            </template>
                        </tr>

                        <template v-for="(projectId,index) in activeProjectIds">

                            <!-- プロジェクト -->
                            <tr v-bind:key="projectId+'_label'">
                                <td colspan="3" style="border-top: 1px solid #ddd;">

                                    <!-- icon,title -->
                                    <a target="_blank"
                                       v-bind:href="'https://sonicmoov.backlog.jp/projects/'+getProjectById(projectId).projectKey">
                                        <img-avatar
                                                style="width: 24px; height: 24px;"
                                                v-bind:src="endpoint+'projects/'+projectId+'/image?apiKey='+apiKey"/>
                                        <b>{{ getProjectById(projectId).name }}</b>
                                    </a>

                                    <!-- 新規作成 -->
                                    <a target="_blank"
                                       v-bind:href="'https://sonicmoov.backlog.jp/add/'+getProjectById(projectId).projectKey"
                                       class="btn btn-box-tool"
                                       style="padding: 0 5px">
                                        <i class="fa fa-2x fa-plus-circle"></i>
                                    </a>


                                    <!-- ラベル -->
                                    <div class="labels">

                                        <!-- 課題種別 -->
                                        <ToggleGroup
                                                v-on:change="setFilteredIssueTypesWithProject( getActiveIssueTypesByProjectId(projectId).map(v=>v.id).filter( id=>$event.indexOf(id)===-1), projectId )"
                                                v-bind:value="getActiveIssueTypesByProjectId(projectId).map(v=>v.id).filter( id=>!isFilteredIssueTypeId(id) )">

                                            <span v-for="(item) in getActiveIssueTypesByProjectId(projectId)"
                                                  draggable="false"
                                                  v-bind:toggle-value="item.id"
                                                  v-bind:class="'label label-'+ ['info','success','warning','danger','primary'][item.id%5] +' label-tag'"
                                                  v-bind:class-off="'label-filtered'"
                                            >{{item.name}}</span>

                                        </ToggleGroup>

                                        <br>

                                        <!-- バージョン (マイルストーン,TODO 発生バージョン) -->
                                        <ToggleGroup
                                                v-on:change="setFilteredVersionsWithProject( [{id:-projectId}].concat(getActiveMilestonesByProjectId(projectId)).map(v=>v.id).filter( id=>$event.indexOf(id)===-1), projectId )"
                                                v-bind:value="[{id:-projectId}].concat(getActiveMilestonesByProjectId(projectId)).map(v=>v.id).filter( id=>!isFilteredVersionId(id) )">

                                            <span draggable="false"
                                                  class="label label-tag"
                                                  v-bind:toggle-value="-projectId"
                                                  v-bind:style="'background: #aaa;'"
                                                  v-bind:class-off="'label-filtered'"
                                            >未指定
                                            </span><span v-for="(item) in getActiveMilestonesByProjectId(projectId)"
                                                  draggable="false"
                                                  class="label label-tag"
                                                  v-bind:toggle-value="item.id"
                                                  v-bind:style="'background: '+genStyleHSLColor(item.id)"
                                                  v-bind:class-off="'label-filtered'"
                                            >{{item.name}}</span>

                                        </ToggleGroup>
                                        &thinsp;


                                    </div>



                                    <button class="pull-right btn btn-box-tool" v-on:click="toggleCollapseProject(projectId)">
                                        <!--<i v-bind:class="'fa '+ (isHiddenProjectId(projectId) ? 'fa-expand' : 'fa-compress') "></i>-->
                                        <i v-bind:class="'fa '+ (isHiddenProjectId(projectId) ? 'fa-plus' : 'fa-minus') "></i>
                                    </button>

                                </td>
                            </tr>

                            <!-- プロジェクト内課題 -->
                            <tr v-bind:key="projectId" v-bind:id="'tasks_'+projectId" v-bind:style="'display:'+ (isHiddenProjectId(projectId) ? 'none' : 'table-row' )">

                                <!-- 状態毎 -->
                                <template v-for="statusId in [1,2,3]">
                                    <td v-bind:class="'status'+statusId" style="padding: 8px 4px;" v-bind:data-project-id="projectId" v-bind:data-status-id="statusId">
                                        <template v-for="(issue) in getIssueWithProjectIdAndStatusId( projectId, statusId )">
                                            <KanbanCard
                                                    v-bind:key="issue.id"
                                                    v-bind:data-issue-id="issue.id"
                                                    v-if="isEnabledIssue(issue)"
                                                    v-bind:issue="issue"
                                                    v-bind:project="getProjectById(projectId)"
                                                    v-on:edit="issueDetailRequest={issue}" />
                                        </template>
                                    </td>
                                </template>
                            </tr>
                        </template>

                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.box-body -->


        </div>
        <!-- /.box -->

        <ModalIssueEditor
                v-if="!!issueDetailRequest"
                v-bind:is-show="!!issueDetailRequest"
                v-bind:request="issueDetailRequest"
                v-on:hide="()=>{this.issueDetailRequest = null}"
                v-on:cancel=""
                v-on:success="refresh()" />

    </div>

</template>

<script>
    import { mapGetters, mapActions } from 'vuex'
    import * as types from 'vuex/mutation-types'
    import KanbanCard from 'components/KanbanCard'
    import ToggleGroup from 'components/ToggleGroup'
    import ModalIssueEditor from 'components/ModalIssueEditor'
    import util from 'components/util'


    export default {
        name: 'KanbanView',

        data() {
            return {
                issues: [],
                activeProjectIds:[],
                activeMemberIds:[],

                hiddenProjectIds:[],
                filteredMemberIds:[],
                filteredVersionIds:[],
                filteredIssueTypeIds:[],

                // 編集モーダルへ渡すパラメーター {issue,statusId,assigneeId,...}
                issueDetailRequest: null
            }
        },

        watch:{

            filteredMemberIds(value){
                this.$store.commit(types.SELECT_FILTERED_MEMBERS, value)
            },
            filteredVersionIds(value){
                this.$store.commit(types.SELECT_FILTERED_VERSIONS, value)
            },
            filteredIssueTypeIds(value){
                this.$store.commit(types.SELECT_FILTERED_ISSUE_TYPES, value)
            }
        },


        created () {

            this.refresh()
        },

        mounted () {
            this.__on_window_focus = ()=>this.refresh();
            window.$(window).on('focus', this.__on_window_focus);
        },
        beforeDestroy(){
            window.$(window).off('focus', this.__on_window_focus);
        },

        components: {
            KanbanCard,
            ModalIssueEditor,
            ToggleGroup
        },

        computed: {
            ...mapGetters([
                'apiKey',
                'endpoint',
                'myself',
                'getActiveProjectIds',
                'getHiddenProjectIds',
                'getActiveMemberIds',
                'projects',
                'getFilteredMemberIds',
                'getFilteredVersionIds',
                'getFilteredIssueTypeIds',
            ])
        },
        methods: {
            ...mapActions([
                'fetchMyself',
                'fetchProjects',
                'fetchWorkspace',
                'fetchIssues'
            ]),

            /**
             * @param id
             * @return {object}
             */
            getIssueById(id){
                return this.issues.find((item)=>{
                    return item.id===id
                });
            },
            /**
             * @param projectId
             * @param statusId
             * @return {object[]}
             */
            getIssueWithProjectIdAndStatusId( projectId, statusId ){
                return this.issues
                    .filter((item)=>{
                        return item.projectId===projectId && item.status.id===statusId
                    })
                    .sort((a,b)=>a.priority.id - b.priority.id);
            },
            /**
             * @param id
             * @return {object[]}
             */
            getIssueWithProjectId( id ){
                return this.issues.filter((item)=>{
                    return item.projectId===id
                });
            },
            /**
             * @returns {boolean}
             */
            isEnabledIssue(issue){
                return (
                        !issue.assignee
                            ? !this.isFilteredMemberId(null)
                            : this.isEnabledMemberId(issue.assignee.id)
                    )
                    && (
                        issue.milestone.length<=0
                            ? this.isEnabledVersionId(-issue.projectId)
                            : this.isEnabledVersionId(issue.milestone[0].id)
                    )
                    && (
                        this.isEnabledIssueTypeId(issue.issueType.id)
                    )
            },

            /**
             * @return {object[]}
             */
            getActiveIssueTypes(){
                let issues = this.issues;
                let list = {};
                issues.map((item)=> { list[item.issueType.name] = item.issueType })
                return Object.values(list);
            },
            /**
             * @param projectId
             * @return {object[]}
             */
            getActiveIssueTypesByProjectId( projectId ){
                let issues = this.getIssueWithProjectId( projectId );
                let list = {};
                issues.map((item)=> { list[item.issueType.name] = item.issueType })
                return Object.values(list);
            },
            /**
             * @return {object[]}
             */
            getActiveMilestones(){
                let issues = this.issues;
                let list = {};
                issues.map((issue)=> {
                    issue.milestone.map((item)=>{
                        list[item.name] = item
                    })
                })
                return Object.values(list);
            },
            /**
             * @param projectId
             * @return {object[]}
             */
            getActiveMilestonesByProjectId( projectId ){
                let issues = this.getIssueWithProjectId( projectId );
                let list = {};
                issues.map((issue)=> {
                    issue.milestone.map((item)=>{
                        list[item.name] = item
                    })
                })
                return Object.values(list);
            },

            /**
             *
             * @param id
             * @return {object}
             */
            getProjectById( id ){
                return this.projects.find((item)=>item.id===id);
            },

            /**
             *
             * @param id
             * @return {boolean}
             */
            isFilteredMemberId(id){
                return this.filteredMemberIds.indexOf( id ) !== -1;
            },
            /**
             *
             * @param id
             * @return {boolean}
             */
            isEnabledMemberId(id){
                // 対象ユーザー & フィルターしていない
                return this.activeMemberIds.indexOf(id)!==-1 && !this.isFilteredMemberId(id);
            },

            /**
             *
             * @param id
             * @return {boolean}
             */
            isFilteredIssueTypeId( id ){
                return this.filteredIssueTypeIds.indexOf( id ) !== -1;
            },
            /**
             *
             * @param id
             * @return {boolean}
             */
            isEnabledIssueTypeId(id){
                return !this.isFilteredIssueTypeId(id);
            },
            /**
             * @param ids
             * @param projectId
             */
            setFilteredIssueTypesWithProject( ids, projectId ){
                let results = this.filteredIssueTypeIds.slice()
                let items = this.getActiveIssueTypesByProjectId(projectId);
                items.forEach( item =>{
                    let index = results.indexOf(item.id)
                    if(index===-1) return;
                    results.splice(index,1);
                })
                this.filteredIssueTypeIds = results.concat(ids);
            },

            /**
             *
             * @param id
             * @return {boolean}
             */
            isFilteredVersionId( id ){
                return this.filteredVersionIds.indexOf( id ) !== -1;
            },
            /**
             *
             * @param id
             * @return {boolean}
             */
            isEnabledVersionId(id){
                return !this.isFilteredVersionId(id);
            },
            /**
             * @param ids
             * @param projectId
             */
            setFilteredVersionsWithProject( ids, projectId ){
                let results = this.filteredVersionIds.slice()
                let items = [{id:-projectId}].concat( this.getActiveMilestonesByProjectId(projectId) );
                items.forEach( item =>{
                    let index = results.indexOf(item.id)
                    if(index===-1) return;
                    results.splice(index,1);
                })
                this.filteredVersionIds = results.concat(ids);
            },

            /**
             *
             * @param id
             * @return {boolean}
             */
            isHiddenProjectId(id){
                return this.hiddenProjectIds.indexOf( id ) !== -1;
            },
            /**
             *
             * @param id
             */
            toggleCollapseProject( id ){
                if(this.isHiddenProjectId(id))
                    this.hiddenProjectIds.splice( this.hiddenProjectIds.indexOf(id),1 )
                else
                    this.hiddenProjectIds.push(id)
                this.$store.commit(types.SELECT_HIDDEN_PROJECTS, this.hiddenProjectIds)
            },

            /**
             *
             */
            refresh() {
                Promise.resolve()
                    // fetch
                    .then( ()=>this.fetchWorkspace() )
                    .then( ()=>this.fetchMyself() )
                    .then( ()=>this.fetchProjects() )
                    // get
                    .then( ()=>{
                        this.activeProjectIds = this.getActiveProjectIds()
                        this.activeMemberIds = this.getActiveMemberIds()
                        this.hiddenProjectIds = this.getHiddenProjectIds()
                        this.filteredMemberIds = this.getFilteredMemberIds()
                        this.filteredVersionIds = this.getFilteredVersionIds()
                        this.filteredIssueTypeIds = this.getFilteredIssueTypeIds()

                        // filter
                        if(this.activeProjectIds.length<=0)
                            return Promise.reject("activeProjectIds not found.");
                    })
                    // setup drag & drop
                    .then( ()=>{

                        let self = this;
                        $(".status1, .status2, .status3").droppable()
                            .on("dropactivate", (event,ui)=>{
                                console.log("dropactivate")
                            })
                            .on("dropdeactivate", (event,ui)=>{
                                console.log("dropactivate")
                            })
                            .on("dropover", (event,ui)=>{
                                console.log(
                                    "dropover",
                                    ' projectId: '+ ui.draggable.data().projectId +'!=='+ $(event.target).data().projectId,
                                    ' statusId: '+ ui.draggable.data().statusId +'!=='+ $(event.target).data().statusId
                                )
                                if( ui.draggable.data().projectId !== $(event.target).data().projectId ) return;
                                if( ui.draggable.data().statusId === $(event.target).data().statusId ) return;
                                $(event.target).css({filter: "brightness(85%) contrast(150%) blur(3px)"})
                            })
                            .on("dropout", (event,ui)=>{
                                if( ui.draggable.data().projectId !== $(event.target).data().projectId ) return;
                                if( ui.draggable.data().statusId === $(event.target).data().statusId ) return;
                                console.log("dropout")
                                $(event.target).css({filter: ""})
                            })
                            .on("drop", (event,ui)=>{
                                if( ui.draggable.data().projectId !== $(event.target).data().projectId ) return;
                                if( ui.draggable.data().statusId === $(event.target).data().statusId ) return;
                                console.log("drop")
                                $(event.target).css({filter: ""})

                                // 編集モーダルへ
                                self.issueDetailRequest = {
                                    issue: self.getIssueById( parseInt(ui.draggable.data().issueId) ),
                                    statusId: $(event.target).data().statusId
                                }
                            });
                    })
                    // refresh issues
                    .then( ()=>{
                        this.issues = [];

                        // issues
                        //  対象プロジェクト,メンバーが担当する課題を非同期で全件取得。issuesへ追加していく
                        let offset = 0;
                        const limit = 100;
                        let fetch = ()=>
                            this.fetchIssues( {
                                offset: offset,
                                count: limit,
                                statusId: [1,2,3],
                                sort: 'updated',
                                // assigneeId: this.activeMemberIds,
                                projectId: this.activeProjectIds
                            })
                                .then((results)=>{
                                    if(results.length<=0) return;

                                    this.issues = this.issues.concat(results);
                                    offset += limit;
                                    return fetch();
                                });
                        return fetch();
                    })
                    .catch((error)=>{

                    });
            },

            genStyleHSLColor(number){return util.genStyleHSLColor(number)}
        }
    }
</script>


<style scoped>

    .user-filtered {
        filter:grayscale(100%) contrast(20%) brightness(160%);
    }

    .labels {
        display: inline-block;
        line-height: 150%;
        vertical-align: middle;
    }
    .label {
        display: inline-block;
        line-height: 160%;
        min-width: 50px;
        user-select: none;
    }
    .label-tag{
        cursor:pointer;
        padding: 0 4px;
        font-size: 70%;
        margin:0 2px;
    }
    .label-filtered {
        filter: grayscale(70%) contrast(35%) brightness(130%);
    }

    .table-striped>tbody>tr:nth-of-type(even) {
        background-color: #f5f5f5;
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }
    .table-striped>tbody>tr:nth-of-type(odd) {
        background-color: #f9f9f9;
    }

    th {
        text-align: center;
    }

    td * {
        vertical-align: middle;
    }

    td.status1 {
        background: #f0e3e3;
    }
    td.status2 {
        background: #e3e3f0;
    }
    td.status3 {
        background: #e3f0e3;
    }

</style>
