<template>
    <modal
        v-bind:is-show="true"
        v-on:hide="onHideModal">



        <!--<h2 slot="header" class="modal-title h4">{{ title }}</h2>-->
        <template slot="body">
            <iframe v-bind:src="url"></iframe>
        </template>
        <!--<template slot="footer">-->
            <!--<div class="text-center">-->
                <!--<button type="button" class="btn btn-default" data-dismiss="modal" v-on:click="call(onCancel)">{{labelCancel}}</button>-->
                <!--<button type="button" class="btn btn-primary" data-dismiss="modal" v-on:click="call(onConfirm)">{{labelConfirm}}</button>-->
            <!--</div>-->
        <!--</template>-->

    </modal>
</template>

<script>
    /**
     * 汎用確認モーダル表示
     * @author bobby@sonicmoov.com
     */
    // import MixinModalRouter from 'mixins/modal-router';

    export default {
        name:'ModalIframe',

        // mixins: [MixinModalRouter],
        props: {
            url: {
                type: String
            },
            // isShow: {
            //     type: Boolean,
            //     default: false
            // },
            onCancel: {
                type: Function,
                default: ()=>{ alert("onCancel!") }
            },
            onHideModal: {
                type: Function,
                default: ()=>{ alert("onHideModal!") }
            }
        },
        computed: {
            // attrs() {
            //     return this.$store.getters['items/getAttributesById'](this.id);
            // },
        },
        methods: {
            call( func ){
                func.apply(this);
            }
            // onSubmit() {
            //     this.$el.submit();
            //     this.$root.$emit('SHOW_PAGE_LOADING');
            // },
        },
    }
</script>
