<template>
    <modal ref="modal"
           v-bind:is-show="true"
           v-bind:size="'large'"
           v-on:hide="$emit('hide')">

        <template>

            <template slot="header">

                <!-- KEY -->
                <template>
                    <b>{{issue.issueKey}}</b>
                    &nbsp;
                </template>

                <!-- ラベル -->
                <template>

                    <span v-if="item = issue.issueType"
                          v-bind:class="'label label-'+ ['info','success','warning','danger','primary'][item.id%5]" >{{item.name}}</span>

                    <span v-for="item in issue.milestone" class="label " v-bind:style="'background: '+genStyleHSLColor(item.id)+';'">{{item.name}}</span>

                    &nbsp;
                </template>

                <!-- アサイン済み -->
                <template v-if="!!issue.assignee">
                    <img-avatar
                            style="width: 24px; height:24px; border: 1px #eee solid; "
                            v-bind:src="endpoint+'users/'+issue.createdUser.id+'/icon?apiKey='+apiKey" v-bind:alt="issue.createdUser.name" />
                    <i class="fa fa-angle-right"></i>
                    <img-avatar
                            style="width: 32px; height:32px; border: 1px #eee solid; "
                            v-bind:src="endpoint+'users/'+issue.assignee.id+'/icon?apiKey='+apiKey" v-bind:alt="issue.assignee.name" />
                </template>
                <!-- 未アサイン -->
                <template v-else>
                    <img-avatar
                            style="width: 32px; height:32px; border: 1px #eee solid; "
                            v-bind:src="endpoint+'users/'+issue.createdUser.id+'/icon?apiKey='+apiKey" v-bind:alt="issue.createdUser.name" />
                    <i class="fa fa-angle-right"></i>
                    <img-avatar
                            style="width: 22px; height:22px; border: 2px #888 dotted; background:#fafafa;"
                            src="https://dummyimage.com/10x10/fff/fff.png" v-bind:alt="'未設定'" />
                </template>


                <div class="pull-right">
                    <button class="btn btn-box-tool" v-on:click="gotoBacklog();">
                        <span class="backlog-icon" v-bind:style="'background-image: url('+backlogImage+')'">&nbsp;</span>
                    </button>
                    &nbsp;
                </div>

            </template>


            <template slot="body">

                <form role="form" style="padding: 15px 30px; margin:-15px; background:#f8f8f8">

                    <div class="row">
                        <div class="col-md-12">

                            <!-- summary -->
                            <div ref="summary" class="form-group">
                                <label for="summary" class="control-label">課題</label>
                                <input id="summary" type="text" class="form-control" placeholder="Enter ..." ref="summary" v-model="summary">
                            </div>

                            <!-- Description -->
                            <div ref="description" class="form-group">
                                <label for="description" class="control-label">説明</label>
                                <textarea id="description" class="form-control input-sm" rows="8" placeholder="Enter ..." ref="description" v-model="description"></textarea>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">

                            <!-- Status TODO @see https://select2.org/ -->
                            <div ref="statusId" class="form-group">
                                <label for="statusId" class="control-label">状態</label>
                                <!--<v-selectbox-->
                                        <!--ref="statusId"-->
                                        <!--v-bind:id="'statusId'"-->
                                        <!--v-bind:options="[{label:'未着手',value:1},{label:'処理中',value:2},{label:'処理済',value:3},{label:'完了',value:4}]"-->
                                        <!--v-bind:model="statusId"-->
                                        <!--v-on:change="(value)=>{statusId=value}" />-->

                                <select2
                                        ref="statusId"
                                        v-bind:id="'statusId'"
                                        v-bind:options="[{text:'未着手',id:1},{text:'処理中',id:2},{text:'処理済',id:3},{text:'完了',id:4}]"
                                        v-model="statusId"
                                        v-on:change="(value)=>{statusId=value}" />
                            </div>

                            <!-- Assignee TODO @see https://select2.org/ -->
                            <div ref="assigneeId" class="form-group">
                                <label for="assigneeId" class="control-label">担当者</label>
                                <!--<v-selectbox-->
                                        <!--ref="assigneeId"-->
                                        <!--v-bind:id="'assigneeId'"-->
                                        <!--v-bind:options="[{label:'未設定',value:null}].concat( projectUsers.map((item)=>{ return {label:item.name,value:item.id} }) )"-->
                                        <!--v-bind:model="assigneeId"-->
                                        <!--v-on:change="(value)=>{assigneeId=value}" />-->

                                <select2
                                        ref="assigneeId"
                                        v-bind:id="'assigneeId'"
                                        v-bind:options="[/*{text:'未設定',id:null}*/].concat( projectUsers.map((item)=>{ return {text:item.name,id:item.id} }) )"
                                        v-model="assigneeId"
                                        v-bind:settings="{ templateSelection:tplUser, templateResult:tplUser }"
                                        v-on:change="(value)=>{assigneeId=value}" />
                            </div>

                            <hr>


                            <div class="row">

                                <!-- Status TODO @see https://select2.org/ -->
                                <div ref="priorityId" class="form-group col-md-6">
                                    <label for="priorityId" class="control-label">優先度</label>
                                    <select2
                                            ref="priorityId"
                                            v-bind:id="'priorityId'"
                                            v-bind:options="[{text:'高',id:2},{text:'中',id:3},{text:'低',id:4}]"
                                            v-model="priorityId"
                                            v-on:change="(value)=>{priorityId=value}" />
                                </div>

                                <!-- Status TODO @see https://select2.org/ -->
                                <div ref="issueTypeId" class="form-group col-md-6">
                                    <label for="issueTypeId" class="control-label">種別</label>
                                    <select2
                                            ref="issueTypeId"
                                            v-bind:id="'issueTypeId'"
                                            v-bind:options="issueTypes.map((item)=>{return{text:item.name,id:item.id}})"
                                            v-model="issueTypeId"
                                            v-on:change="(value)=>{issueTypeId=value}" />
                                </div>
                            </div>

                            <!-- Status TODO @see https://select2.org/ -->
                            <div ref="milestoneIds" class="form-group">
                                <label for="milestoneIds" class="control-label">マイルストーン</label>
                                <select2
                                        ref="milestoneIds"
                                        v-bind:id="'milestoneIds'"
                                        v-bind:settings="{multiple:true}"
                                        v-bind:options="versions.map((item)=>{return {text:item.name,id:item.id}})"
                                        v-model="milestoneIds"
                                        v-on:change="(value)=>{milestoneIds=value.map((v)=>parseInt(v))}"
                                />
                            </div>

                            <!-- Status TODO @see https://select2.org/ -->
                            <div ref="categoryIds" class="form-group">
                                <label for="categoryIds" class="control-label">カテゴリー</label>
                                <select2
                                        ref="categoryIds"
                                        v-bind:id="'categoryIds'"
                                        v-bind:settings="{multiple:true}"
                                        v-bind:options="categories.map((item)=>{return {text:item.name,id:item.id}})"
                                        v-model="categoryIds"
                                        v-on:change="(value)=>{categoryIds=value.map((v)=>parseInt(v))}"
                                />
                            </div>

                        </div>

                        <div class="col-md-6">

                            <b>コメント</b> <span class="text-muted text-sm">※最新20件</span>
                            <div class="direct-chat-messages" ref="comments" style="box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px -3px inset; margin-bottom: 15px">
                                <div class="direct-chat-msg" v-for="(item) in comments">
                                    <div class="direct-chat-info clearfix">
                                        <span class="direct-chat-name pull-left">{{item.createdUser.name}}</span>
                                        <span class="direct-chat-timestamp pull-right">{{new Date(item.created).toLocaleString()}}</span>
                                    </div>
                                    <!-- /.direct-chat-info -->
                                    <img class="direct-chat-img" v-bind:src="endpoint+'users/'+item.createdUser.id+'/icon?apiKey='+apiKey"><!-- /.direct-chat-img -->
                                    <div class="direct-chat-text text-sm">
                                        <span v-if="item.content" style="white-space: pre-wrap;">{{item.content}}</span>
                                        <br v-if="!!item.content && item.changeLog.length>0">
                                        <span v-if="item.changeLog.length>0">{{item.changeLog.map((log)=>`\`${log.field}\``).join(',')}} を更新しました。</span>
                                    </div>
                                    <!-- /.direct-chat-text -->
                                </div>
                            </div>

                            <!-- Message -->
                            <div ref="comment" class="form-group" style="margin-bottom: 0">
                                <label for="comment" class="control-label">追加コメント</label>
                                <textarea id="comment" class="form-control input-sm" rows="3" placeholder="Enter ..." v-model="comment"></textarea>
                            </div>

                        </div>
                    </div>

                </form>

            </template>

            <template slot="footer">
                <div class="text-center">
                    <button type="button" class="btn btn-default" data-dismiss="modal" v-on:click="$emit('cancel')">キャンセル</button>
                    <button type="button" class="btn btn-success" v-on:click="save()" v-bind:disabled="!hasDiff">保存</button>
                </div>

                <!--<p class="text-sm text-left">{{ JSON.stringify( request ) }}</p>-->
            </template>

        </template>

    </modal>
</template>

<script>
    /**
     * 課題編集モーダル表示
     * @author bobby@sonicmoov.com
     */
    import { mapGetters, mapActions } from 'vuex'
    import util from 'components/util'
    // import MixinModalRouter from 'mixins/modal-router';

    export default {
        name:'ModalIssueEditor',

        // mixins: [MixinModalRouter],
        props: {
            request: {
                // {issue,statusId,assigneeId,...}
                type: Object
            }
        },
        data() {
            return {
                // data
                issueTypes: [],
                categories: [],
                versions: [],
                projectUsers: [],
                comments: [],

                // main props
                summary: '',
                description:'',
                statusId: null,
                assigneeId: null,
                comment:'',

                // optional props
                issueTypeId: null,
                categoryIds: [],
                versionId: [],
                milestoneIds: [],
                priorityId: null,
            }
        },

        computed: {
            ...mapGetters([
                'apiKey',
                'endpoint',
                'myself',
                'getActiveMemberIds',
                'projects',
            ]),
            backlogImage(){
                return require('assets/backlog_100x100.png');
            },

            issue() {
                return this.request.issue
            },

            hasDiff(){
                return this.summaryHasDiff
                    || this.descriptionHasDiff
                    || this.statusIdHasDiff
                    || this.assigneeIdHasDiff
                    || this.commentHasDiff
                    //
                    || this.issueTypeIdHasDiff
                    || this.priorityIdHasDiff
                    || this.milestoneIdsHasDiff
                    || this.categoryIdsHasDiff
            },

            summaryHasDiff() {
                return ( this.summary !== this.issue.summary )
            },
            descriptionHasDiff() {
                return ( this.description !== this.issue.description )
            },
            statusIdHasDiff() {
                return ( parseInt(this.statusId) !== this.issue.status.id )
            },
            assigneeIdHasDiff() {
                return ( parseInt(this.assigneeId) !== (this.issue.assignee ? this.issue.assignee.id : null) )
            },
            commentHasDiff() {
                return ( this.comment !== "" )
            },
            //
            issueTypeIdHasDiff() { return ( parseInt(this.issueTypeId) !== this.issue.issueType.id ) },
            priorityIdHasDiff() { return ( parseInt(this.priorityId) !== this.issue.priority.id ) },
            milestoneIdsHasDiff() {
                let ids = this.issue.milestone.map((item)=>item.id);
                return JSON.stringify( this.milestoneIds.sort() ) !== JSON.stringify( ids.sort() )
            },
            categoryIdsHasDiff() {
                let ids = this.issue.category.map((item)=>item.id);
                return JSON.stringify( this.categoryIds.sort() ) !== JSON.stringify( ids.sort() )
            },

        },

        created(){
            //
            this.summary = this.issue.summary;
            this.description = this.issue.description;
            this.statusId = this.request.statusId || this.issue.status.id;
            this.assigneeId = this.request.assigneeId
                || (this.request.statusId===2 && !this.issue.assignee ? this.myself.id : null )
                || (this.request.statusId===3 ? this.issue.createdUser.id : null )
                || (this.issue.assignee ? this.issue.assignee.id : null )
                || null;
            this.comment = null
                || ( this.request.statusId===2 ? '着手します。': null )
                || ( this.request.statusId===3 ? '確認お願いします。': null )
                || '';
            //
            this.issueTypeId = this.request.issueTypeId || this.issue.issueType.id;
            this.priorityId = this.request.priorityId || this.issue.priority.id;
            this.categoryIds = this.issue.category.map((item)=>item.id);
            this.milestoneIds = this.issue.milestone.map((item)=>item.id);
            this.versionIds = this.issue.versions.map((item)=>item.id);

        },
        mounted(){
            this.fetchProjectMembers(this.issue.projectId)
                .then((results)=>{
                    this.projectUsers = results;
                })
            this.fetchProjectIssueTypes(this.issue.projectId)
                .then((results)=>{
                    this.issueTypes = results;
                })
            this.fetchProjectCategories(this.issue.projectId)
                .then((results)=>{
                    this.categories = results;
                })
            this.fetchProjectVersions(this.issue.projectId)
                .then((results)=>{
                    this.versions = results;
                })
            const elComments = this.$refs.comments;
            this.fetchIssueComments(this.issue.id)
                .then((results)=>{
                    this.comments = results.reverse();
                    setTimeout(()=>elComments.scrollTop = elComments.scrollHeight,0)
                })
        },

        watch: {
            summary(value) {
                if( !this.summaryHasDiff )
                    $(this.$refs.summary).removeClass('has-success')
                else
                    $(this.$refs.summary).addClass('has-success')
            },
            description(value) {
                if( !this.descriptionHasDiff )
                    $(this.$refs.description).removeClass('has-success')
                else
                    $(this.$refs.description).addClass('has-success')
            },
            statusId(value) {
                if( !this.statusIdHasDiff )
                    $(this.$refs.statusId).removeClass('has-success')
                else
                    $(this.$refs.statusId).addClass('has-success')
            },
            assigneeId(value) {
                if( !this.assigneeIdHasDiff )
                    $(this.$refs.assigneeId).removeClass('has-success')
                else
                    $(this.$refs.assigneeId).addClass('has-success')
            },
            comment(value) {
                if( !this.commentHasDiff )
                    $(this.$refs.comment).removeClass('has-success')
                else
                    $(this.$refs.comment).addClass('has-success')
            },
            //
            issueTypeId(value) {
                if( !this.issueTypeIdHasDiff )
                    $(this.$refs.issueTypeId).removeClass('has-success')
                else
                    $(this.$refs.issueTypeId).addClass('has-success')
            },
            priorityId(value) {
                if( !this.priorityIdHasDiff )
                    $(this.$refs.priorityId).removeClass('has-success')
                else
                    $(this.$refs.priorityId).addClass('has-success')
            },
            milestoneIds(value) {
                if( !this.milestoneIdsHasDiff )
                    $(this.$refs.milestoneIds).removeClass('has-success')
                else
                    $(this.$refs.milestoneIds).addClass('has-success')
            },
            categoryIds(value) {
                if( !this.categoryIdsHasDiff )
                    $(this.$refs.categoryIds).removeClass('has-success')
                else
                    $(this.$refs.categoryIds).addClass('has-success')
            },
        },

        methods: {
            ...mapActions([
                'fetchProjects',
                'fetchProjectIssueTypes',
                'fetchProjectCategories',
                'fetchProjectVersions',
                'fetchProjectMembers',
                'fetchIssueComments',
                'updateIssue'
            ]),

            call( func ){
                func.apply(this);
            },

            save(){

                let params = {}
                if( this.summaryHasDiff ) params.summary = this.summary;
                if( this.descriptionHasDiff ) params.description = this.description;
                if( this.statusIdHasDiff ) params.statusId = this.statusId;
                if( this.assigneeIdHasDiff ) params.assigneeId = this.assigneeId;
                if( this.commentHasDiff ) params.comment = this.comment;
                //
                if( this.issueTypeIdHasDiff ) params.issueTypeId = this.issueTypeId;
                if( this.priorityIdHasDiff ) params.priorityId = this.priorityId;
                if( this.milestoneIdsHasDiff ) params.milestoneId = this.milestoneIds;
                if( this.categoryIdsHasDiff ) params.categoryId = this.categoryIds;

                //
                this.updateIssue( {id:this.issue.id, queryData:params} )
                    .then(( result )=>{
                        // 完了
                        console.log(result)
                        this.$refs.modal.hide();
                        this.$emit("success")
                    });

            },

            genStyleHSLColor(number){return util.genStyleHSLColor(number)},

            gotoBacklog(){
                window.open(
                    'https://sonicmoov.backlog.jp/view/'+this.issue.issueKey,
                    '_blank'
                );

            },

            tplUser(state){
                if(state.id===null)return state.text;
                return $(
                    '<span style="vertical-align: middle;">' +
                        '<img class="img-circle" style="width:30px;height:30px;border:1px solid #ddd" src="'+this.endpoint+'users/'+state.id+'/icon?apiKey='+this.apiKey+'" />'+
                        '&nbsp;'+
                        state.text+
                    '</span>'
                )
            },

            log(){
                console.log(arguments)
            }
        },

        filters: {
            nl2br (value) {
                return value.replace(/\n/,"<br>")
            }
        }
    }
</script>

<style>
    .has-success .select2-selection {
        border: 1px solid #00a65a !important;
    }
</style>

<style scoped lang="scss">
    .modal-header *{
        vertical-align: middle;
    }

    .btn-box-tool {
        padding: 2px;
        vertical-align: middle;
    }
    .backlog-icon{
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height:20px;
        background-size: 120%;
        border-radius: 2px;
        background-position: center;
    }

    .direct-chat-messages{
        background: #fff;
    }
    .direct-chat-msg{
        margin-bottom: 8px;
    }
    .direct-chat-info{
        font-size: 70%;
    }
    .direct-chat-timestamp{
        color: #888;
    }
    .direct-chat-img{
        width: 30px;
        height: 30px;
    }
    .direct-chat-text{
        margin: 5px 0 0 40px;
    }
</style>
