<template lang="html">

    <div>
        <h1>プロジェクト一覧</h1>

        <div class="box box-solid">

            <!--<div class="box-caption with-border">-->
                <!--<div class="row">-->
                    <!--<div class="col-md-5">-->
                        <!-- -&#45;&#45;-->
                    <!--</div>-->
                    <!--<div class="col-md-7 text-right">-->
                        <!-- -&#45;&#45;-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!-- box-caption -->

            <div v-if="projects.length<=0" class="box-body">
                プロジェクトが取得できませんでした。
            </div>

            <div v-else class="box-body no-padding">
                <div class="table-responsive" style="overflow:visible">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th style="width: 50px;">有効</th>
                            <th style="width: 50px;">icon</th>
                            <th>key</th>
                            <th>name</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(item,index) in projects"
                            v-bind:key="item.id">
                            <td>
                                <input-checkbox
                                        v-bind:true-value="true"
                                        v-bind:false-value="false"
                                        v-bind:checked="isActiveItem(item)"
                                        v-on:change="((item)=>(value)=>{ value ? itemActivate(item) : itemDeactivate(item) })(item)"
                                />
                            </td>
                            <td>
                                <img-avatar
                                        style="width: 24px; height: 24px;"
                                        v-bind:src="endpoint+'projects/'+item.id+'/image?apiKey='+apiKey"/>
                            </td>
                            <td>{{item.projectKey}}</td>
                            <td>{{ item.name }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.box-body -->

            <!--<div class="box-footer">-->
                <!--<div class="row">-->
                    <!--<div class="col-md-3">-->
                        <!-- -&#45;&#45;-->
                    <!--</div>-->
                    <!--&lt;!&ndash; /.col &ndash;&gt;-->

                    <!--<div class="col-md-6 text-center">-->
                        <!-- -&#45;&#45;-->
                    <!--</div>-->
                    <!--&lt;!&ndash; /.col &ndash;&gt;-->

                    <!--<div class="col-md-3">-&#45;&#45;</div>-->

                <!--</div>-->
            <!--</div>-->
            <!-- box-footer -->

        </div>
        <!-- /.box -->

    </div>

</template>

<script>
    import { mapGetters, mapActions } from 'vuex'
    import * as types from 'vuex/mutation-types'

    export default {
        name: 'Projects',

        data() {
            return {
                activeIds : []
            }
        },

        created () {
            this.fetchProjects();
            this.fetchWorkspace();


            this.activeIds = this.getActiveProjectIds()
        },

        computed: {
            ...mapGetters([
                'apiKey',
                'endpoint',
                'projects',
                'getActiveProjectIds'
            ])
        },
        methods: {
            ...mapActions([
                'fetchProjects',
                'fetchWorkspace'
            ]),

            isActiveItem(item){
                return this.activeIds.indexOf( item.id ) !== -1;
            },
            itemActivate(item){
                if( this.isActiveItem(item) ) return;
                this.activeIds.push(item.id)
                this.$store.commit(types.SELECT_ACTIVE_PROJECTS, this.activeIds)
            },
            itemDeactivate(item){
                if( !this.isActiveItem(item) ) return;
                this.activeIds.splice( this.activeIds.indexOf(item.id),1 )
                this.$store.commit(types.SELECT_ACTIVE_PROJECTS, this.activeIds)
            }
        }
    }
</script>

<style scoped>

    td{
        vertical-align: middle;
    }

</style>
