<template>
    <div class="box box-solid">

        <div class="box-header with-border">
            <h2 class="box-title">環境設定</h2>
        </div>
        <!-- box-heder -->

        <div class="box-body">

            <div class="row">

                <div v-if="!!myself&&!!spaceName&&!!apiKey" class="colmd-12 text-center" style="padding:15px">
                    <img-avatar
                            style="width: 32px; height:32px; border: 1px #eee solid; "
                            v-bind:src="endpoint+'users/'+myself.id+'/icon?apiKey='+apiKey" v-bind:alt="myself.name" />
                    <br>
                    <b>{{myself.name}}</b>
                </div>

                <div class="col-sm-12">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="spaceName" class="col-md-4 control-label">
                                backlog スペース名
                            </label>
                            <div class="col-md-8">
                                <input type="text" autocomplete="off" class="form-control" id="spaceName" name="spaceName" placeholder="sonicmoov"
                                       v-model="spaceName">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.col -->

                <div class="col-sm-12">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="apiKey" class="col-md-4 control-label">
                                backlog APIキー
                                <a href="https://sonicmoov.backlog.jp/EditApiSettings.action" target="_blank">発行はこちら</a>
                            </label>
                            <div class="col-md-8">
                                <input type="text" autocomplete="off" class="form-control" id="apiKey" name="apiKey" placeholder="XXXXXXXXXXXXXX"
                                       v-model="apiKey">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.col -->

            </div>
            <!-- /.row -->

        </div>
        <!-- /.box-body -->

        <!--<div class="box-footer">-->
        <!--<div class="row">-->
        <!--<div class="col-md-3">-->
        <!-- -&#45;&#45;-->
        <!--</div>-->
        <!--&lt;!&ndash; /.col &ndash;&gt;-->

        <!--<div class="col-md-6 text-center">-->
        <!-- -&#45;&#45;-->
        <!--</div>-->
        <!--&lt;!&ndash; /.col &ndash;&gt;-->

        <!--<div class="col-md-3">-&#45;&#45;</div>-->

        <!--</div>-->
        <!--</div>-->
        <!-- box-footer -->

    </div>
    <!-- /.box -->
</template>

<script>
    import { mapGetters, mapActions } from 'vuex'
    import * as types from 'vuex/mutation-types'

    export default {
        name: 'Settings',

        created () {
            this.fetchWorkspace();
            this.attemptFetchMyself();
        },

        computed: {
            ...mapGetters([
                'myself',
                'endpoint'
            ]),

            apiKey: {
                get () { return this.$store.getters.apiKey },
                set (value) { this.$store.commit(types.UPDATE_API_KEY, value) }
            },

            spaceName: {
                get () { return this.$store.getters.spaceName },
                set (value) { this.$store.commit(types.UPDATE_SPACE_NAME, value) }
            }
        },

        watch:{
            apiKey(v){
                this.attemptFetchMyself()
            },
            spaceName(v){
                this.attemptFetchMyself()
            }
        },

        methods: {
            ...mapActions([
                'fetchWorkspace',
                'fetchMyself',
            ]),

            attemptFetchMyself(){
                if(this.apiKey&&this.spaceName)this.fetchMyself();
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    h1, h2 {
        font-weight: normal;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }

    a {
        color: #42b983;
    }
</style>
