<template>
    <span style="display: inline-block; border-radius: 50px; line-height:100%; padding:0 4px">
        <slot/>
    </span>
</template>

<script>
    export default {
        name: 'ToggleGroup',

        model: {
            event: 'change',
            prop: 'value'
        },

        props: {
            value:{
                type:Array,
                default: () => []
            }
        },

        watch:{

            value(value){
                this.refresh()
            }
        },

        data(){
            return {
                vItems: [],
                list:{}
            }
        },

        updated(){

            // init
            if(!this.$slots.default)return;

            let self = this;
            this.$slots.default.map((vNode)=>{
                if(!vNode.tag)return;
                if( this.vItems.indexOf(vNode)!==-1 ) return;
                this.vItems.push(vNode);
                this.list[ vNode.data.attrs['toggle-value'] ] = vNode;
                // listen
                ((vNode)=>{
                    $(vNode.elm)
                        .on('mousedown',()=>{
                            self.start(vNode.data.attrs['toggle-value'])
                        })
                        .on('mouseover',()=>{
                            self.over(vNode.data.attrs['toggle-value'])
                        })
                })(vNode);
            })
            this.refresh()

        },

        methods: {

            valueIsSelected(value){
                return this.value.indexOf(value)!==-1
            },
            getItemByValue(value){
                return this.list[value]
            },
            itemSetState(item,isSelected){

                if( isSelected )
                    $(item.elm).removeClass( item.data.attrs['class-off'] )
                else
                    $(item.elm).addClass( item.data.attrs['class-off'] )
            },

            start(value){

                // listen events
                $(this.$el)
                    .on("mouseleave", this.__self_on_mouseleave = (event)=>this.end())
                $(window)
                    .on("mouseup", this.__window_on_mouseup = (event)=>this.end())

                // init context
                this.__ctx = {
                    start: { value: value, selected: !this.valueIsSelected(value) },
                    list: {}
                };
                this.__ctx.list[value] = true;
                $(this.$el).css('background',"rgba(255, 126, 0,0.2)")

                this.itemSetState( this.getItemByValue(value), this.__ctx.start.selected )
            },
            over(value){

                // filter
                if(!this.__ctx)return;

                // filter
                if( this.__ctx.start.selected === this.valueIsSelected(value) ) return;

                // update context
                this.__ctx.list[value] = true;
                this.itemSetState( this.getItemByValue(value), this.__ctx.start.selected )
            },
            end(value){
                if(!this.__ctx)return;

                // update store
                let values = Object.keys( this.__ctx.list );
                values.forEach( (value)=>{
                    value = value==='null' ? null : parseInt(value);
                    let selected = this.valueIsSelected(value);
                    if( selected )
                        this.value.splice( this.value.indexOf(value),1 )
                    else
                        this.value.push(value)
                });
                this.$emit('change', this.value)

                // reset context
                $(this.$el)
                    .css('background',"none")
                    .off("mouseleave", this.__self_on_mouseleave)
                $(window)
                    .off("mouseup", this.__window_on_mouseup)
                this.__ctx = null;
            },


            refresh(){

                this.vItems.map((item)=>{
                    this.itemSetState(item,false)
                })

                if(Object.keys(this.list).length<=0)return;
                this.value.map((v)=>{
                    let item = this.list[v];
                    if(!item)return;
                    this.itemSetState(item,true)
                });
            }
        }
    }
</script>

<style scoped>

</style>
