<template>
    <div class="input-group">
        <div class="input-group-addon">
            <i class="fa"
                v-bind:class="iconClass"></i>
        </div>
        <slot>
            <input type="text" class="form-control"
                v-bind:id="id"
                v-bind:name="name"
                v-bind:disabled="disabled"
                v-model.lazy="value_"
                v-on:input="onChange">
        </slot>
    </div>
</template>

<script>
export default {
    props: {
        type: {
            type: String,
            required: true
        },
        name: {
            type: String,
            default: ''
        },
        id: {
            type: String,
            default: ''
        },
        value: {
            type: [String, Number],
            default: ''
        },
        disabled: {
            type: Boolean,
            default: false
        }
    },
    data() {
        return {
            // @type  {string|number}
            value_: this.value
        };
    },
    watch: {
        value(value) {
            this.value_ = value;
        }
    },
    computed: {
        // @return  {object}
        iconClass() {
            return {
                ['fa-' + this.type]: true
            };
        },
    },
    methods: {
        onChange() {
            if (this.disabled) return;

            this.$emit('change', this.value_);
        }
    }
}
</script>
