<template>
    <div class="btn-group"
        v-bind:style="wrapStyle">
        <btn-group-label
            v-for="(item, index) in items"
            v-bind:key="index"
            v-bind:item="item"
            v-bind:name="name"
            v-bind:input-type="inputType"
            v-bind:selected="selected"
            v-bind:disabled="disabled"
            v-bind:class="btnClass"
            v-on:change="onChange"></btn-group-label>
    </div>
</template>

<script>
const BtnGroupLabel = {
    template: `
        <label class="btn"
            v-on:click="onClick"
            v-bind:class="labelClass"
            v-bind:style="labelStyle">
            <input autocomplete="off"
                v-bind:type="inputType"
                v-bind:value="value"
                v-bind:name="name_"
                v-bind:id="id"
                v-bind:checked="isSelected"
                v-bind:style="inputStyle"
                v-bind:disabled="disabled"
                v-on:click.stop>{{ label }}</label>
    `,
    props: {
        item: {
            type: Object,
            default() {
                return {};
            }
        },
        selected: {
            type: [String, Array]
        },
        name: {
            type: String
        },
        inputType: {
            type: String,
            default: 'radio' //radio|checkbox
        },
        disabled: {
            type: Boolean,
            default: false
        }
    },
    computed: {
        isRadio() {
            return 'radio' === this.inputType;
        },
        isSelected() {
            return this.getIsSelected();
        },
        name_() {
            return this.name || this.item.name;
        },
        id() {
            return this.item.id;
        },
        label() {
            return this.item.label || '';
        },
        value() {
            return this.item.value;
        },
        labelClass() {
            return {
                'disabled': this.disabled,
                'active': this.isSelected
            };
        },
        labelStyle() {
            return {
                'cursor': (this.isRadio && this.isSelected) ? 'default' : 'pointer'
            };
        },
        inputStyle() {
            return {
                'position': 'absolute',
                'clip': 'rect(0,0,0,0)',
                'pointer-events': 'none'
            };
        }
    },
    methods: {
        onClick() {
            if (this.isRadio && this.isSelected) {
                return; //not change
            }
            this.$emit('change', this.value);
        },
        getIsSelected() {
            if ( Array.isArray(this.selected) ) {
                // checkbox
                let result = this.selected.find((value)=> {
                    return this.value === value;
                });
                return (typeof result !== 'undefined') ? true : false;

            } else {
                // radio
                return this.selected === this.value;
            }
        }
    }
};


export default {
    components: {
        'btn-group-label': BtnGroupLabel
    },
    props: {
        items: {
            type: Array,
            required: true,
            default() {
                return [
                    {
                        name: false, //@type {string|false}
                        id: false, //@type {string|false}
                        label: '', //@type {string}
                        value: '' //@type {*}
                    }
                ];
            }
        },
        selected: {
            // String=radio
            // Array=checkbox
            type: [String, Array]
        },
        name: {
            type: String
        },
        inputType: {
            type: String,
            default: 'radio' //radio|checkbox
        },
        btnType: {
            type: String,
            default: 'default', // default|primary|success|info|warning|danger
        },
        btnSize: {
            type: String,
            default: '', // lg|sm|xs
        },
        disabled: {
            type: Boolean,
            default: false
        }
    },
    computed: {
        wrapStyle() {
            return {
                'cursor' : this.disabled ? 'not-allowed' : 'default'
            };
        },
        btnClass() {
            return {
                ['btn-' + this.btnType]: true,
                ['btn-' + this.btnSize]: !!this.btnSize,
            };
        }
    },
    methods: {
        onChange(value) {
            if ( Array.isArray(this.selected) ) {
                // checkbox
                let resultIndex = this.selected.findIndex((v)=> {
                    return value === v;
                });
                if (resultIndex < 0) {
                    this.selected.push(value);
                } else {
                    this.selected.splice(resultIndex, 1);
                }

            } else {
                // radio
                this.$emit('change', value);
            }
        }
    }
}
</script>

<style scoped>
    label.disabled {
        pointer-events: none;
    }
</style>
