<template>
    <div class="alert"
        v-bind:class="wrapClass">
        <button type="button" class="close" aria-hidden="true"
            v-if="isCloseBtn"
            v-on:click="onClickClose">&times;</button>
        <i class="icon fa"
            v-bind:class="iconClass"></i><slot>入力内容を確認してください。</slot>
    </div>
</template>

<script>
export default {
    props: {
        type: {
            type: String,
            default: 'danger' //success|info|warning|danger
        },
        size: {
            type: String,
            default: '' //small
        },
        isCloseBtn: {
            type: Boolean,
            default: true
        }
    },
    computed: {
        wrapClass() {
            return {
                ['alert-' + this.type]: true,
                'alert-sm': 'small' === this.size
            };
        },
        iconClass() {
            return {
                'fa-warning': 'success' === this.type,
                'fa-info-circle': 'info' === this.type,
                'fa-warning': 'warning' === this.type,
                'fa-times-circle': 'danger' === this.type,
            };
        }
    },
    methods: {
        onClickClose() {
            this.$emit('hide');
        }
    }
}
</script>

<style scoped>
    .alert-sm {
      padding-top: 10px;
      padding-bottom: 10px;
    }
</style>
