<template>
    <input type="text" class="form-control" autocomplete="off"
        v-bind:id="id"
        v-bind:name="name"
        v-bind:value="value_"
        v-bind:disabled="disabled">
</template>

<script>
/**
 * dependence
 * - jQuery
 * - bootstrap-datepicker
 *   https://github.com/uxsolutions/bootstrap-datepicker
 */
const $ = window.$ || window.jQuery;

export default {
    props: {
        name: {
            type: String
        },
        id: {
            type: String
        },
        value: {
            type: [String, Number],
            default: '' //yyyymmdd|yyyy/mm/dd
        },
        disabled: {
            type: Boolean,
            default: false
        },
        orientation: {
            type: String,
            default: 'bottom'
        },
        startDate: {
            type: String
        },
        endDate: {
            type: String
        },
        format: {
            type: String,
            default: 'yyyy/mm/dd'
        },
        autoclose: {
            type: Boolean,
            default: true
        },
        todayHighlight: {
            type: Boolean,
            default: true
        },
        todayBtn: {
            type: Boolean,
            default: true
        },
    },
    data() {
        return {
            // @type  {string}
            value_: ''
        };
    },
    // @type {object} jQuery instance
    j_el: null,

    computed: {
        // @return  {object}
        option() {
            return {
                language: 'ja',
                orientation: this.orientation,
                format: this.format,
                autoclose: this.autoclose,
                todayHighlight: this.todayHighlight,
                todayBtn: this.todayBtn,
                startDate: this.startDate,
                endDate: this.endDate
            };
        }
    },
    mounted() {
        this.setValue(this.value);

        this.$nextTick(function() {
            this.$options.j_el = $(this.$el);
            this.init();
        });
    },
    destroyed() {
        this.destroy();
    },
    watch: {
        value(value) {
            this.setValue(value);
        }
    },
    methods: {
        /**
         * @param  {string|number}  value
         */
        setValue(value) {
            if (typeof value === 'undefined') return;
            this.value_ = this.castDatepickerValue(value);
            this.update();
        },
        /**
         * @param  {string|number}  value
         * @return {string}
         */
        castDatepickerValue(value) {
            value += ''; //cast string

            if ('' === value) return '';
            if (value.indexOf('/') > -1) return value;

            let year  = value.substr(0, 4);
            let month = value.substr(4, 2);
            let date  = value.substr(6, 2);
            return year + '/' + month + '/' + date;
        },
        init() {
            let $el = this.$options.j_el;
            if (!$el) return;

            let d = $el.datepicker(this.option);
            this.bindChange(d);
        },
        update() {
            let $el = this.$options.j_el;
            if (!$el) return;

            $el.datepicker('update', this.value_);
        },
        destroy() {
            let $el = this.$options.j_el;
            if (!$el) return;

            $el.datepicker('destroy');
        },
        /**
         * @param  {object}  datepicker instance
         */
        bindChange(datepicker) {
            if (!datepicker) return;

            datepicker.on('clearDate', this.onChange.bind(this));
            datepicker.on('changeDate', this.onChange.bind(this));
        },
        /**
         * @param  {object}  e - window.event + datepicker data
         *         {string}  e.type - clearDate|changeDate
         *         {object}  e.date - Date Object
         *         {array}   e.dates - Date Objects
         */
        onChange(e) {
            let value = (!!e && !!e.currentTarget) ? e.currentTarget.value : false;
            if ( this.disabled || (false === value) ) return;

            this.setValue(value);
            this.$emit('change', value.replace(/\//g, ''));
        }
    }
}
</script>
