<template>
    <div class="input-group date">
        <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
        </div>
        <slot>
            <datepicker
                v-bind:id="id"
                v-bind:name="name"
                v-bind:value="value_"
                v-bind:disabled="disabled"
                v-bind:orientation="orientation"
                v-bind:start-date="startDate"
                v-bind:end-date="endDate"
                v-on:change="onChange"></datepicker>
        </slot>
    </div>
</template>

<script>
import InputGroup from 'components/common/bootstrap-input-group';
import Datepicker from './bootstrap-datepicker';

export default {
    extends: InputGroup,
    components: {
        'datepicker': Datepicker
    },
    props: Object.assign({}, Datepicker.props),
    methods: {
        /**
         * @param  {string}  value - yyyymmdd
         */
        onChange(value) {
            if (this.disabled) return;

            this.value_ = value;
            this.$emit('change', this.value_);
        },
    }
}
</script>
