<template>
    <div class="modal"
        v-bind:class="wrapClass"
        v-on:click.self="onClickWrap">
        <div class="modal-dialog"
            v-bind:class="dialogClass">
            <div class="modal-content">

                <div class="modal-header"
                    v-if="isHeader">
                    <button type="button" class="close" aria-label="Close"
                        v-if="!isLoading"
                        v-on:click="onClickClose">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <slot name="header"></slot>
                </div>
                <!-- /.modal-header -->

                <div class="modal-body">
                    <slot name="body"></slot>
                    <transition
                        v-bind:name="loadingTransition">
                        <div class="modal-body-loading"
                            v-if="isLoading">
                            <span>
                                <slot name="loading">
                                    <loading-icon></loading-icon>
                                    読み込み中...
                                </slot>
                            </span>
                        </div>
                    </transition>
                </div>
                <!-- /.modal-body -->

                <div class="modal-footer"
                    v-if="isFooter">
                    <slot name="footer">
                        <div class="text-center">
                            <button type="button" class="btn btn-default"
                                v-on:click="hide">閉じる</button>
                        </div>
                    </slot>
                </div>
                <!-- /.modal-footer -->

            </div>
        </div>
    </div>
    <!-- /.modal -->
</template>

<script>
/**
 * bootstrap modal
 * http://bootstrapdocs.com/v3.3.6/docs/javascript/#modals
 */
import LoadingIcon from 'components/common/loading-icon';

// dependence
let $ = window.$ || window.jQuery;

export default {
    props: {
        isShow: {
            type: Boolean,
            default: false
        },
        size: {
            type: String,
            default: '' //large|small
        },
        isHeader: {
            type: Boolean,
            default: true
        },
        isFooter: {
            type: Boolean,
            default: true
        },
        isAnimation: {
            type: Boolean,
            default: true
        },
        backdrop: {
            type: [Boolean, String],
            default: false
        },
        keyboard: {
            type: Boolean,
            default: false
        },
        isLoading: {
            type: Boolean,
            default: false
        }
    },
    components: {
        'loading-icon': LoadingIcon,
    },
    j_el: null,
    data() {
        return {
            isShow_: this.isShow,
            isInit: false,
            loadingTransition: ''
        };
    },
    computed: {
        options() {
            return {
                backdrop: this.backdrop,
                keyboard: this.keyboard
            };
        },
        wrapClass() {
            return {
                'fade': this.isAnimation
            };
        },
        dialogClass() {
            return {
                'modal-lg': 'large' === this.size,
                'modal-sm': 'small' === this.size
            };
        }
    },
    mounted() {

        $ = window.$ || window.jQuery;

        this.$nextTick(function() {
            this.init();
            this.onActivated();
        });
    },
    activated() {
        this.onActivated();
    },
    deactivated() {
        this.hide();
    },
    beforeDestroy() {
        this.offChangeState();
        this.$options.j_el = null;
    },
    watch: {
        isShow(isShow) {
            this.isShow_ = isShow;

            if (!this.isInit) {
                this.init();
            } else if (isShow) {
                this.show();
            } else if (!isShow) {
                this.hide();
            }
        },
        isLoading(value) {
            this.$nextTick(function() {
                this.loadingTransition = value ? 'fade' : '';
            });
        }
    },
    methods: {
        init() {
            if (this.isInit || !this.isShow_) return;

            let $o = this.$options;
            let el = $o.j_el = $o.j_el || $(this.$el);
            if (!el) return;

            el.modal(this.options);
            this.bindChangeState();
            this.isInit = true;
        },
        onActivated() {
            if (this.isShow) {
                this.show();
            }
        },
        bindChangeState() {
            let el = this.$options.j_el;
            if (!el) return;

            el.on('show.bs.modal',   this.setShow.bind(this));
            el.on('hidden.bs.modal', this.setHide.bind(this));
        },
        offChangeState() {
            let el = this.$options.j_el;
            if (!el) return;

            el.off('show.bs.modal');
            el.off('hidden.bs.modal');
        },
        show() {
            let el = this.$options.j_el;
            if (!el) return;

            el.modal('show');
        },
        hide() {
            let el = this.$options.j_el;
            if (!el) return;

            el.modal('hide');
        },
        scrollTo(top) {
            this.$el.scrollTop = top;
        },
        setShow(e) {
            this.isShow_ = true;
            this.$emit('show', e);
        },
        setHide(e) {
            this.isShow_ = false;
            this.$emit('hide', e);
        },
        onClickWrap() {
            if (!this.isLoading) {
                this.$emit('click-overlay');
                this.hide();
            }
        },
        onClickClose() {
            this.$emit('click-close');
            this.hide();
        }
    }

}
</script>

<style scoped>
    .modal {
        background: rgba(0,0,0,0.6);
    }
    .modal-body-loading {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: auto;
      background-color: #fff;
    }
</style>
