<template>
    <div class="m-copyBtn">
        <p v-if="isShowCopied" class="label label-success m-copyBtn-noticeText">{{ noticeText }}</p>
        <button type="button" class="btn" v-bind:class="btnClass" v-on:click="onClickCopyText"><slot></slot></button>
    </div>
</template>

<script>
export default {
    props: {
        btnType: {
            type: String,
            default: 'default', // default, primary, success, info, warning, danger
        },
        btnSize: {
            type: String,
            default: '', // lg, sm, xs
        },
        delay: {
            type: Number,
            default: 1500,
        },
        noticeText: {
            type: String,
            default: 'コピーしました',
        },
        targetElement: {
            type: null
        },
        targetId: {
            type: String
        },
    },
    data: function() {
        return {
            isShowCopied: false,
        };
    },
    computed: {
        btnClass: function() {
            return {
                ['btn-' + this.btnType] : true,
                ['btn-' + this.btnSize] : this.btnSize !== '',
            };
        },
    },
    methods: {
        onClickCopyText: function() {
            var target;
            var targetElement = this.targetElement;
            var targetId = this.targetId;

            if (!!targetElement) {
                target = targetElement;
            } else if (!!targetId) {
                target = document.getElementById(targetId);
            }

            if (!target) return;

            target.select();

            document.execCommand('copy');
            this.isShowCopied = true;

            this.$nextTick(function() {
                target.select();
                target.setSelectionRange(0, 0, 'none');

                setTimeout(function() {
                    this.isShowCopied = false;
                }.bind(this), this.delay);
            });
        },
    },
}
</script>

<style scoped>
    .m-copyBtn {
        position: relative;
        display: inline-block;
    }

    .m-copyBtn-noticeText {
        position: absolute;
        top: -2em;
        left: 50%;
        transform: translateX(-50%);
    }
</style>
