<template>
    <form method="get"
        v-bind:action="action">
        <label>
            {{ label }}：
            <select class="form-control" ref="select"
                v-bind:name="name"
                v-bind:id="id"
                v-model="value_"
                v-on:change="onChange">
                <option
                    v-for="(count, index) in counts"
                    v-bind:key="index"
                    v-bind:value="count + ''">{{ count }}{{ unit }}</option>
            </select>
        </label>
        <slot></slot>
    </form>
</template>

<script>
import {getRemoveQueryUrl, getAddQueryUrl} from '../../util';

/**
 * 表示件数切り替え
 */
export default {
    props: {
        counts: {
            type: Array,
            default: function() {
                return [10, 25, 50, 100];
            }
        },
        name: {
            type: String,
            default: 'limit'
        },
        id: {
            type: String
        },
        value: {
            type: [String, Number],
            default: 10
        },
        label: {
            type: String,
            default: '表示件数'
        },
        unit: {
            type: String,
            default: '件'
        },
        confirmMessage: {
            type: String,
            default: '送信します。よろしいですか？'
        }
    },
    data() {
        return {
            value_: '', // @type  {string}
            isConfirm: false
        }
    },
    computed: {
        action() {
            return getRemoveQueryUrl();
        },
    },
    watch: {
        value(value) {
            this.setValue(value);
        }
    },
    mounted() {
        this.setValue(this.value);
        this.$root.$on('CONFIRM_CHANGE_SHOW_LENGTH', (isConfirm) => {
            this.isConfirm = isConfirm;
        });
    },
    methods: {
        /**
         * @param  {string|number}  value
         */
        setValue(value) {
            if (typeof value === 'undefined') return;
            this.value_ = value + ''; //cast string
        },
        onChange() {
            if (!this.isConfirm) {
                this.submit();
                return;
            }

            if ( window.confirm(this.confirmMessage) ) {
                this.submit();
            } else {
                this.value_ = this.value + '';
            }
        },
        submit() {
            window.location.href = getAddQueryUrl( {[this.name]: this.value_, page:1/* pagination前提。1page目へ遷移 */ } );

            this.$root.$emit('SHOW_PAGE_LOADING');
        }
    }
}
</script>
