<template>
    <div class="m-dateSet">
        <input-group-date type="calendar"
            v-bind:id="dateId"
            v-bind:value="dateValue"
            v-bind:orientation="orientation"
            v-bind:start-date="startDate"
            v-bind:end-date="endDate"
            v-bind:disabled="disabled"
            v-on:change="onChangeDate"></input-group-date>
        <select-timeset
            v-bind:pref-id="prefId"
            v-bind:is-second="isSecond"
            v-bind:default-value="defaultTimeValue"
            v-bind:value="timeValue"
            v-bind:disabled="disabled"
            v-on:change="onChangeTime"></select-timeset>
        <input type="hidden"
            v-bind:name="name"
            v-bind:value="value_"
            v-bind:disabled="disabled">
    </div>
</template>

<script>
import InputGroupDate from './bootstrap-input-group-date';
import SelectTimeset from './select-timeset';

export default {
    components: {
        'input-group-date': InputGroupDate,
        'select-timeset': SelectTimeset
    },
    props: Object.assign({}, InputGroupDate.props, {
        prefId: {
            type: String,
            default: ''
        },
        name: {
            type: String,
            default: 'dateset'
        },
        isSecond: {
            type: Boolean,
            default: false
        },
        defaultDateValue: {
            type: [String, Number],
            default: ''
        },
        defaultTimeValue: {
            type: String,
            default: '000000'
        },
        value: {
            type: [String, Number],
            default: '', //yyyymmdd|yyyymmddhhmm|yyyymmddhhmmss
            validator(value) {
                let len = (value + '').length;
                return !len || (len === 8) || (len === 12) || (len === 14);
            }
        }
    }),
    data() {
        return {
            // @type  {string}
            dateValue: '',
            // @type  {string}
            timeValue: ''
        };
    },
    computed: {
        // @return  {string}
        dateId() {
            if (!this.prefId) return '';
            return this.prefId + '_date';
        },
        value_() {
            return !!this.dateValue ? (this.dateValue + this.timeValue) : '';
        }
    },
    mounted() {
        this.setValues(this.value);
    },
    watch: {
        value(value) {
            this.setValues(value);
        }
    },
    methods: {
        /**
         * @param  {string|number}  value
         */
        setValues(value) {
            this.dateValue = this.getValue('date', value);
            this.timeValue = this.getValue('time', value);
        },
        /**
         * @param  {string}  target - date|time
         * @return {string}
         */
        getValue(target, value) {
            if (!target || (typeof value === 'undefined')) {
                // required
                return '';
            }
            if ('' === value) {
                // default value
                if ('date' === target) return this.defaultDateValue;
                if ('time' === target) return this.defaultTimeValue;
            }

            value += ''; //cast string

            switch (target) {
                case 'date':
                    return value.substr(0, 8);
                case 'time':
                    return value.substr(8, 6);
            }
        },
        /**
         * @param  {string}  value - yyyymmdd
         */
        onChangeDate(value) {
            if (this.disabled) return;

            this.dateValue = value;
            this.emitChange();
        },
        /**
         * @param  {string}  value - hhmmss
         */
        onChangeTime(value) {
            if (this.disabled) return;

            this.timeValue = value;
            this.emitChange();
        },
        emitChange() {
            let values = {
                date: this.dateValue,
                time: this.timeValue
            };
            this.$emit('change', values);
            values = null;
        }
    }
}
</script>

<style scoped>
    .m-dateSet {
      display: inline-block;
    }
    .m-dateSet .input-group.date {
      display: inline-table;
      vertical-align: middle;
      width: 155px;
    }
</style>
