<template>
    <div class="m-dateSetRange">
        <dateset
            v-bind:name="startName"
            v-bind:pref-id="startPrefId"
            v-bind:is-second="isSecond"
            v-bind:default-date-value="startDefaultDateValue_"
            v-bind:default-time-value="startDefaultTimeValue_"
            v-bind:value="startValue_"
            v-bind:start-date="startDate"
            v-bind:end-date="endDate"
            v-bind:disabled="disabled"
            v-on:change="onChange('start', $event)"></dateset>
        <span>〜</span>
        <dateset ref="endDateset"
            v-bind:name="endName"
            v-bind:pref-id="endPrefId"
            v-bind:is-second="isSecond"
            v-bind:default-date-value="endDefaultDateValue_"
            v-bind:default-time-value="endDefaultTimeValue_"
            v-bind:value="endValue_"
            v-bind:start-date="startDate"
            v-bind:end-date="endDate"
            v-bind:disabled="disabled"
            v-on:change="onChange('end', $event)"></dateset>
        <transition name="fade">
            <div class="tooltip top"
                v-show="isAutoChange.start">
                <div class="tooltip-inner">開始日を自動修正しました</div><div class="tooltip-arrow"></div>
            </div>
        </transition>
        <transition name="fade">
            <div class="tooltip top"
                v-show="isAutoChange.end"
                v-bind:style="endNoticeStyle">
                <div class="tooltip-inner">終了日を自動修正しました</div><div class="tooltip-arrow"></div>
            </div>
        </transition>
    </div>
</template>

<script>
import {getRelativeOffset} from '../../util';
import Dateset from './dateset';

export default {
    components: {
        'dateset': Dateset
    },
    props: Object.assign({}, Dateset.props, {
        prefName: {
            type: String,
            default: 'dateset_range'
        },
        startValue: {
            type: [String, Number],
            default: '', //yyyymmdd|yyyymmddhhmm|yyyymmddhhmmss
            validator(value) {
                let len = (value + '').length;
                return !len || (len === 8) || (len === 12) || (len === 14);
            }
        },
        endValue: {
            type: [String, Number],
            default: '', //yyyymmdd|yyyymmddhhmm|yyyymmddhhmmss
            validator(value) {
                let len = (value + '').length;
                return !len || (len === 8) || (len === 12) || (len === 14);
            }
        },
        startDefaultDateValue: {
            type: String,
        },
        endDefaultDateValue: {
            type: String,
        },
        startDefaultTimeValue: {
            type: String,
        },
        endDefaultTimeValue: {
            type: String,
        }
    }),
    data() {
        return {
            // @type  {string|number}
            startValue_: this.startValue,
            // @type  {string|number}
            endValue_: this.endValue,
            isAutoChange: {
                start: false,
                end: false
            },
            endNoticeOffset: {
                top: 0,
                left: 0
            }
        };
    },
    computed: {
        // @return  {string}
        startName() {
            return this.getName('start');
        },
        // @return  {string}
        endName() {
            return this.getName('end');
        },
        // @return  {string}
        startPrefId() {
            return this.getId('start');
        },
        // @return  {string}
        endPrefId() {
            return this.getId('end');
        },
        startDefaultDateValue_() {
            return this.startDefaultDateValue || this.defaultDateValue;
        },
        endDefaultDateValue_() {
            return this.endDefaultDateValue || this.defaultDateValue;
        },
        startDefaultTimeValue_() {
            return this.startDefaultTimeValue || this.defaultTimeValue;
        },
        endDefaultTimeValue_() {
            return this.endDefaultTimeValue || this.defaultTimeValue;
        },
        endNoticeStyle() {
            return this.endNoticeOffset;
        }
    },
    mounted() {
        this.setValue('start', this.startValue, false);
        this.setValue('end', this.endValue, false);
    },
    timerId: {
        isAutoChangeStart: null,
        isAutoChangeEnd: null,
    },
    watch: {
        startValue(value) {
            this.setValue('start', value, false);
        },
        endValue(value) {
            this.setValue('end', value, false);
        },
        'isAutoChange.start'(value) {
            if (!value) return;

            let timerId = this.$options.timerId;

            clearTimeout(timerId.isAutoChangeStart);

            timerId.isAutoChangeStart = setTimeout(()=> {
                this.isAutoChange.start = false;
            }, 3000);
        },
        'isAutoChange.end'(value) {
            if (!value) return;

            let timerId = this.$options.timerId;

            clearTimeout(timerId.isAutoChangeEnd);

            timerId.isAutoChangeEnd = setTimeout(()=> {
                this.isAutoChange.end = false;
            }, 3000);
        },
    },
    methods: {
        /**
         * @param  {string}         target - start|end
         * @param  {string|number}  value
         * @param  {boolean}        isEmit
         */
        setValue(target, value, isEmit) {
            if (!target || typeof value === 'undefined') return;
            isEmit = (typeof isEmit === 'undefined') ? true : isEmit;

            let startValue = ('start' === target) ? value : this.startValue_;
            let endValue   = ('end' === target) ? value : this.endValue_;
            let isValid = this.validateRange(startValue, endValue);

            // set
            this[target + 'Value_'] = value;

            // reset isAutoChange
            if (!isValid && ('start' === target)) {
                this.isAutoChange.end = false;
            } else if (!isValid && ('end' === target)) {
                this.isAutoChange.start = false;
            }

            this.$nextTick(function() {
                this.setEndNoticeOffset();

                switch (target) {
                    case 'start':
                        if (!isValid) {
                            this.endValue_ = this.replaceValue('end', startValue);
                            this.isAutoChange.end = true;
                            this.emitChange('end');
                        }
                        break;
                    case 'end':
                        if (!isValid) {
                            this.startValue_ = this.replaceValue('start', endValue);
                            this.isAutoChange.start = true;
                            this.emitChange('start');
                        }
                        break;
                }
                if (isEmit) {
                    this.emitChange(target);
                }
            });
        },

        /**
         * 秒モードを無しの場合、秒だけ既存の値に上書きした値を返す
         * @param  {string}  target - start|end
         * @param  {string}  value
         * @return {string}
         */
        replaceValue(target, value) {
            value = value + '';

            if (!value || this.isSecond) {
                return value; //置き換える必要がないので、そのまま返す
            }

            // @type  {string}
            let second = ((target)=> {
                let v = this[target + 'Value_'] || this[target + 'DefaultTimeValue_'];
                return v.slice(-2);
            })(target);

            return value.slice(0, value.length - 2) + second;
        },

        /**
         * @param  {string|number}  startValue
         * @param  {string|number}  endValue
         * @return {bool}
         */
        validateRange(startValue, endValue) {
            if (!startValue || !endValue) {
                // 未入力
                return true;
            }
            return startValue <= endValue;
        },
        /**
         * @param  {string}  target - start|end
         * @return {string}
         */
        getName(target) {
            if (!target) return '';
            return this.prefName + '_' + target;
        },
        /**
         * @param  {string}  target - start|end
         * @return {string}
         */
        getId(target) {
            if (!target || !this.prefId) return '';
            return this.prefId + '_' + target;
        },
        /**
         * @param  {string}  target - start|end
         * @param  {object}  values
         *         {string}  values.date
         *         {string}  values.time
         */
        onChange(target, values) {
            if (this.disabled) return;

            let date = values.date;
            let time = values.time;
            let value = ('' === date) ? '' : (date + time + '');

            this.setValue(target, value);
        },
        /**
         * @param  {string}  target - start|end
         */
        emitChange(target) {
            let value = ('start' === target) ? this.startValue_ : this.endValue_;
            this.$emit(`change-${target}`, value);
        },

        setEndNoticeOffset() {
            let endDateset = this.$refs.endDateset ? this.$refs.endDateset.$el : null;
            let offset = getRelativeOffset(this.$el, endDateset);

            this.endNoticeOffset.top  = offset.top + 'px';
            this.endNoticeOffset.left = offset.left + 'px';
        }
    }
}
</script>

<style scoped>
    .m-dateSetRange {
        position: relative;
    }
    .m-dateSetRange .tooltip.top {
        top: 0;
        margin-top: 0;
        transform: translateY(-100%);
    }
    .m-dateSetRange .tooltip-inner {
        max-width: none;
        background-color: #dd4b39;
        white-space: nowrap;
    }
    .m-dateSetRange .tooltip-arrow {
        border-top-color: #dd4b39;
    }
</style>
