<template>
    <div class="m-imagemapPreview">
        <imagemap
            v-bind:base-url="baseUrl"
            v-bind:base-size="baseSize"
            v-bind:alt-text="altText"
            v-bind:base-size-height="baseSizeHeight"
            v-bind:actions="actions"
            v-bind:width="width"
            v-bind:is-show-grid="isShowGrid"
            v-on:click="onClickAction"></imagemap>
        <div class="m-imagemapPreview-info">
            <button type="button" class="btn btn-sm btn-default"
            v-on:click="onClickGuide">{{ guideBtnText }}</button>
        </div>
    </div>
</template>

<script>
import Imagemap from './imagemap';

const imagemapProps = Object.assign({}, Imagemap.props);
delete imagemapProps.isShowGrid; //data定義済みのため

export default {
    components: {
        'imagemap': Imagemap
    },
    props: imagemapProps,
    data() {
        return {
            'isShowGrid': true
        };
    },
    computed: {
        guideBtnText() {
            return this.isShowGrid ? 'ガイド非表示' : 'ガイド表示';
        },
    },
    methods: {
        onClickGuide() {
            this.isShowGrid = !this.isShowGrid;
        },
        /**
         * @param   {object}   values
         *          {number}   values.index - クリックされた領域のindex
         *          {string}   values.type - url|message
         *          {string}   values.linkUri
         *          {string}   values.text
         *          {object}   values.event - window.event
         */
        onClickAction(values) {
            switch (values.type) {
                case 'uri':
                    if (!values.linkUri) return;
                    alert(values.linkUri + 'にリンクします');
                    break;
                case 'message':
                    if (!values.text) return;
                    alert('「' + values.text + '」とLINEに発話します');
                    break;
            }
        }
    }
}
</script>

<style scoped>
    .m-imagemapPreview {
        text-align: center;
    }
    .m-imagemapPreview-info {
        margin-top: 5px;
    }
</style>
