<template>
    <div class="m-imagemap"
        v-bind:class="wrapClass"
        v-bind:style="wrapStyle">
        <imagemap-grid
            v-bind:base-size="baseSize_"
            v-bind:actions="actions"
            v-bind:is-action="isAction"
            v-on:click="onClick"></imagemap-grid>
        <img class="m-imagemap-bg"
            v-if="baseUrl"
            v-bind:src="baseUrl"
            v-bind:alt="altText"
            v-bind:style="bgStyle">
        <div class="m-imagemap-bg not-img"
            v-else
            v-bind:style="bgStyle"></div>
    </div>
</template>

<script>
import Config from '../../config';
import ImagemapGrid from '../imagemap/imagemap-grid';

const BASE_SIZE_WIDTH  = Config.imagemap.base_size_width;
const BASE_SIZE_HEIGHT = Config.imagemap.base_size_height;

export default {
    components: {
        'imagemap-grid': ImagemapGrid
    },
    props: {
        baseUrl: {
            type: String,
            default: ''
        },
        altText: {
            type: String,
            default: ''
        },
        baseSize: {
            type: Object
        },
        baseSizeHeight: {
            type: [Number, String],
            default: BASE_SIZE_HEIGHT - 0
        },
        actions: {
            type: Array, //array<object>
            default() {
                return [];
            }
        },
        width: {
            type: [Number, String],
            default: 150,
            validator(value) {
                // 数値に変換できない場合はfalse
                return !(Number.isNaN(value - 0));
            }
        },

        isShowGrid: {
            type: Boolean,
            default: true
        },
        isAction: {
            type: Boolean,
            default: true
        }
    },
    data() {
        return {
            overlayOpacity: '0.3'
        };
    },
    computed: {
        baseSize_() {
            return this.baseSize || {
                width : BASE_SIZE_WIDTH - 0,
                height: (this.baseSizeHeight - 0) || (BASE_SIZE_HEIGHT - 0)
            };
        },
        height() {
            let width = this.width - 0;
            let times = this.baseSize_.height / this.baseSize_.width;

            return Math.floor(width * times);
        },
        wrapClass() {
            return {
                'has-image': !!this.baseUrl,
                'is-grid': this.isShowGrid
            };
        },
        wrapStyle() {
            let w = this.width - 0;

            return {
                width : !!w ? (w + 'px') : '100%',
                height: !!w ? (this.height + 'px') : 'auto'
            };
        },
        bgStyle() {
            let url = 'url(' + this.baseUrl + ')';

            return {
                'opacity': this.getBgOpacity(),
                'background-image': !!this.baseUrl ? url : ''
            };
        }
    },
    watch: {
        height(value) {
            this.$nextTick(function() {
                this.$emit('change-height', value);
            });
        }
    },
    methods: {
        getBgOpacity() {
            if (!this.baseUrl) {
                return '';
            } else if (this.isShowGrid) {
                return this.overlayOpacity;
            } else {
                return '';
            }
        },
        /**
         * @param   {object}   values
         *          {number}   values.index - クリックされた領域のindex
         *          {string}   values.type - url|message
         *          {string}   values.linkUri
         *          {string}   values.text
         *          {object}   values.event - window.event
         */
        onClick(values) {
            this.$emit('click', values);
        }
    }
}
</script>

<style scoped>
    .m-imagemap {
        position: relative;
        overflow: hidden;
        display: inline-block;
        vertical-align: top;
        max-width: 100%;
        border-radius: 3px;
        background-color: #eaf7de;
    }
    .m-imagemap.is-grid {
        border: 1px #81cc34 solid;
    }
    .m-imagemap.has-image {
        background-color: #fff;
    }
    .m-imagemap.has-image .m-imagemap-grid {
        position: absolute;
        top: 0;
        left: 0;
    }
    .m-imagemap-bg.not-img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: auto;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    img.m-imagemap-bg {
        width: 100%;
        height: 100%;
    }
</style>
