<template>
    <img
        v-bind:src="src"
        v-bind:alt="label">
</template>

<script>
import Config from '../../config';

export default {
    imgPath: (!!Config.img_path && !!Config.img_path.emoji)
                    ? Config.img_path.emoji : '',
    props: {
        item: {
            type: Object,
            required: true,
            default() {
                return {};
            }
        }
    },
    computed: {
        fileName() {
            return this.item.file_name;
        },
        label() {
            return this.item.label || false;
        },
        src() {
            let path = this.$options.imgPath;

            if (!this.fileName) {
                // empty file name
                return false;
            } else if (this.fileName.indexOf('http') === 0) {
                // http....
                return this.fileName
            } else {
                // local path
                return `${path}/${this.fileName}`;
            }
        }
    }
}
</script>
