<template>
    <img-custom
        v-bind:src="src"
        v-bind:width="width"
        v-bind:height="height"
        v-bind:alt="alt"
        v-on:complete="$emit('complete')"></img-custom>
</template>

<script>
import ImgCustom from 'components/common/img-custom';
import Config from '../../config';

export default {
    imgPath: (!!Config.img_path && !!Config.img_path.line_sticker)
                    ? Config.img_path.line_sticker : '',
    components: {
        'img-custom': ImgCustom
    },
    props: {
        packageId: {
            type: [String, Number],
            default: 0,
            required: true
        },
        stickerId: {
            type: [String, Number],
            default: 0,
            required: true
        },
        stickerPath: {
            type: String,
        },
        width: {
            type: [String, Number],
            default: '100%'
        },
        height: {
            type: [String, Number],
            default: 'auto'
        },
        alt: {
            type: String,
            default: ''
        }
    },
    computed: {
        src() {

            // LINEが公開しているURLへ変更 @see backlog BOTPF-293
            return "https://stickershop.line-scdn.net/stickershop/v1/sticker/"+this.stickerId+"/PC/sticker.png";

            // if (!!this.stickerPath) {
            //     return this.stickerPath;
            // } else {
            //     let path = this.$options.imgPath;
            //     return path + '/' + this.packageId + '/' + this.stickerId + '.png';
            // }
        }
    }
}
</script>
