<template>
    <img
        v-bind:src="src_"
        v-bind:alt="alt"
        v-bind:class="wrapClass"
        v-on:click="$emit('click')"
        v-on:mouseover="$emit('mouseover')"
        v-on:mousedown="$emit('mousedown')"
        v-on:mouseout="$emit('mouseout')"
        v-on:mouseenter="$emit('mouseenter')"
        v-on:mouseleave="$emit('mouseleave')"
        v-on:mousemove="$emit('mousemove')"
        v-on:mouseup="$emit('mouseup')"
        draggable="false">
</template>

<script>

export default {
    noAvatar : false,
    props: {
        src: {
            type: String,
            default: ''
        },
        alt: {
            type: String,
            default: ''
        },
        isRound: {
            type: Boolean,
            default: true
        }
    },
    computed: {
        src_() {
            return !!this.src ? this.src : this.$options.noAvatar;
        },
        wrapClass() {
            return this.isRound ? 'img-circle' : '';
        }
    }
}
</script>
