<template>
    <img
        v-bind:src="src"
        v-bind:width="width_"
        v-bind:height="height_"
        v-bind:alt="alt"
        v-bind:style="imgStyle">
</template>

<script>
export default {
    props: {
        src: {
            type: String,
            required: true,
            default: false
        },
        alt: {
            type: String,
            default: ''
        },
        width: {
            type: [String, Number],
            default: ''
        },
        height: {
            type: [String, Number],
            default: ''
        }
    },
    computed: {
        width_() {
            return this.isNumber('width') ? this.width : false;
        },
        height_() {
            return this.isNumber('height') ? this.height : false;
        },
        imgStyle() {
            return {
                width : this.isNumber('width') ? false : this.width,
                height: this.isNumber('height') ? false : this.height,
            };
        }
    },
    mounted: function() {
        this.$nextTick(function() {
            this.onLoaded();
        });
    },
    methods: {
        isNumber(target) {
            let isNaN_ = Number.isNaN(this[target] - 0);
            return !isNaN_;
        },
        onLoaded() {
            if (this.$el.complete) {
                this.$emit('complete');
            } else {
                let onLoaded = ()=> {
                    this.$emit('complete');
                    this.$el.removeEventListener('load', onLoaded);
                };
                this.$el.addEventListener('load', onLoaded, false);
            }
        }
    }
}
</script>
