<template>
    <div class="m-inputFile">
        <input type="file" ref="input"
            v-bind:id="id"
            v-bind:name="name"
            v-bind:disabled="disabled"
            v-on:change="onChange">
        <button type="button" class="btn"
            v-bind:class="btnClass"
            v-bind:disabled="disabled">
            <slot>ファイル</slot>{{fileStateText}}
        </button>
    </div>
</template>

<script>
export default {
    props: {
        id: {
            type: String,
        },
        name: {
            type: String,
            default: 'files[]'
        },
        btnType: {
            type: String,
            default: 'default' //default|primary|success|info|warning|danger|link
        },
        btnSize: {
            type: String,
            default: '' //small|large|xsmall
        },
        disabled: {
            type: Boolean,
            default: false
        },
        useDataImage: {
            type: Boolean,
            default: true
        }
    },
    data() {
        return {
            files: []
        };
    },
    computed: {
        btnClass() {
            return {
                ['btn-' + this.btnType]: true,
                'btn-lg': 'large' === this.btnSize,
                'btn-sm': 'small' === this.btnSize,
                'btn-xs': 'xsmall' === this.btnSize,
            };
        },
        fileStateText() {
            return !!this.files.length ? '変更' : '選択';
        }
    },
    methods: {
        onChange: function() {
            this.files.splice(0);
            this.setFiles();
            this.$emit('change', this.files);
        },
        setFiles: function() {
            let input = this.$refs.input || {};
            let inputFiles = input.files;

            if (!inputFiles || !inputFiles.length) return;

            for (let i = 0, len = inputFiles.length; i < len; ++i) {
                this.files.push(
                    this.createFileInfo(inputFiles[i])
                );
            }
        },

        /**
         * @param   {object}   file - File
         * @rerutn  {object}
         */
        createFileInfo: function(file) {
            if ( !file || (typeof file !== 'object') ) {
                return null;
            }
            var self = this;
            var reader = new FileReader();
            var mimeType = file.type;

            var fileInfo = {
                name: file.name || '',
                size: file.size || 0,
                mimeType: mimeType || '',
                type: mimeType.substring(0, mimeType.indexOf('/')) || '',
                webkitRelativePath: file.webkitRelativePath || '',
                lastModified: file.lastModified || '',
                reader: reader,
                file: file
            };

            // 画像
            if ( this.useDataImage && this.isImage(mimeType) ) {
                // read image data
                reader.readAsDataURL(file);

                fileInfo.dataImage = undefined;

                reader.onload = function() {
                    // insert data image
                    fileInfo.dataImage = this.result;
                    self.$emit('change', self.files);
                };
            }

            return fileInfo;
        },
        isImage(mimeType) {
            return !!mimeType && !!(mimeType.match(/^image\/(gif|jpg|jpeg|png|bmp|webp)/));
        },
        reset() {
            let input = this.$refs.input;
            if (!input) return;

            input.value = '';
            this.files.splice(0);
        }
    }
}
</script>

<style scoped>
    .m-inputFile {
        overflow: hidden;
        position: relative;
        display: inline-block;
        vertical-align: middle;
    }
    .m-inputFile > input {
        -webkit-appearance: none;
        appearance: none;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
    .m-inputFile > input[disabled] {
        cursor: not-allowed;
    }
</style>
