<template>
    <div v-bind:class="wrapClass">
        <label class="m-radio"
            v-if="isLabel && hasText"
            v-bind:class="inputClass">
            <input type="radio"
                v-bind:id="id"
                v-bind:name="name"
                v-bind:value="value"
                v-bind:required="required"
                v-bind:disabled="disabled"
                v-bind:checked="checked_"
                v-on:change="onChange"
                v-on:click.stop>
            <span class="m-radio-icon"></span>
            <div class="m-radio-text"
                v-if="hasText"><slot></slot></div>
        </label>
        <div class="m-radio"
            v-else
            v-bind:class="inputClass">
            <label>
                <input type="radio"
                    v-bind:id="id"
                    v-bind:name="name"
                    v-bind:value="value"
                    v-bind:required="required"
                    v-bind:disabled="disabled"
                    v-bind:checked="checked_"
                    v-on:change="onChange"
                    v-on:click.stop>
                <span class="m-radio-icon"></span>
            </label>
            <div class="m-radio-text"
                v-if="hasText"><slot></slot></div>
        </div>
    </div>
</template>

<script>
export default {
    model: {
        prop: 'model',
        event: 'change'
    },
    props: {
        id: {
            type: String,
            default: ''
        },
        name: {
            type: String,
            default: null,
        },
        value: {
            default: '',
        },
        model: {
            default: undefined,
        },
        checked: {
            type: Boolean,
            default: false,
        },
        required: {
            type: Boolean,
            default: false,
        },
        disabled: {
            type: Boolean,
            default: false,
        },
        isInline: {
            type: Boolean,
            default: true
        },
        isLabel: {
            type: Boolean,
            default: true
        }
    },
    data() {
        return {
            checked_: this.checked,
            hasText: true
        };
    },
    computed: {
        wrapClass() {
            return {
                'radio-inline': this.isInline,
                'radio': !this.isInline,
            };
        },
        inputClass() {
            return {
                'is-disabled': this.disabled,
                'no-text': !this.hasText
            };
        }
    },
    mounted() {
        if (typeof this.model !== 'undefined') {
            this.checked_ = (this.model === this.value);
        }
        if (!this.$slots.default) {
            this.hasText = false;
        }
    },
    watch: {
        model(value) {
            this.checked_ = (value === this.value);
        },
        checked(value) {
            this.checked_ = value;
        },
    },
    methods: {
        onChange() {
            this.checked_ = true;
            this.$emit('change', this.value);
        }
    },
}
</script>

<style lang="scss">
    $inputType: "radio";
    @import "~scss/input-radio-checkbox";
</style>
