<template>
    <div class="clearfix">

        <span class="help-block has-error"
            v-for="(message, index) in validateMessages"
            v-bind:key="index">{{ message }}</span>

        <button type="button" class="btn btn-default m-add-email"
            v-bind:disabled="disabled || isMax"
            v-on:click="onClickAdd"><i class="fa fa-plus"></i></button>
        <ul class="m-emails">
            <li is="email-item"
                v-for="(email, index) in emails"
                v-bind:key="index"
                v-bind:index="index"
                v-bind:pref-name="prefName"
                v-bind:pref-id="prefId"
                v-bind:placeholder="placeholder"
                v-bind:required="required"
                v-bind:disabled="disabled"
                v-bind:readonly="readonly"
                v-bind:maxLength="maxLength"
                v-bind:value="email"
                v-bind:can-remove-item="!disabled && !isMin"
                v-bind:is-show-validate="isShowValidate"
                v-on:mounted="onMounted"
                v-on:change="onChange"
                v-on:click-remove="onClickRemove"></li>
        </ul>
    </div>
</template>

<script>
import Vue from 'vue';
import {validateRequired, validateMaxlength, validateEmail, validateDuplication} from '../../util';

const Props = {
    prefName: {
        type: String
    },
    prefId: {
        type: String
    },
    placeholder: {
        type: String,
        default: 'メールアドレス'
    },
    required: {
        type: Boolean,
        default: false,
    },
    disabled: {
        type: Boolean,
        default: false,
    },
    readonly: {
        type: Boolean,
        default: false,
    },
    maxLength: {
        type: [String, Number]
    },
    isShowValidate: {
        type: Boolean,
        default: false
    }
};

const EmailItem = {
    template: `
        <li>
            <div class="input-group"
                v-bind:class="wrapClass">
                <input type="email" class="form-control"
                    v-model="value_"
                    v-bind:name="name"
                    v-bind:id="id"
                    v-bind:placeholder="placeholder_"
                    v-bind:required="required"
                    v-bind:disabled="disabled"
                    v-bind:readonly="readonly">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default"
                        v-bind:disabled="!canRemoveItem"
                        v-on:click="$emit('click-remove', index)"><i class="fa fa-minus"></i></button>
                </span>
            </div>
            <span class="help-block has-error"
                v-if="isShowValidate_">{{ validateMessage }}</span>
        </li>
    `,
    props: Object.assign({}, Props, {
        index: {
            type: Number,
            required: true
        },
        value: {
            type: String,
            default: ''
        },
        canRemoveItem: {
            type: Boolean,
            default: true
        }
    }),
    data() {
        return {
            isValid: true,
            validateMessage: ''
        };
    },
    computed: {
        value_: {
            get() {
                return this.value;
            },
            set(value) {
                this.validate(value);
                this.emit('change', value);
            }
        },
        isShowValidate_() {
            return this.isShowValidate && !this.isValid;
        },
        name() {
            return !!this.prefName ? `${this.prefName}[${this.index}]` : false;
        },
        id() {
            return !!this.prefId ? (this.prefId + '_' + this.index) : false;
        },
        placeholder_() {
            return this.placeholder + (this.index + 1);
        },
        wrapClass() {
            return this.isShowValidate_ ? 'has-error' : '';
        }
    },
    mounted() {
        this.validate();
        this.emit('mounted', this.value_);
    },
    methods: {
        emit(eventName, value) {
            let values = {
                index: this.index,
                value: value,
                isValid: this.isValid,
            }
            this.$emit(eventName, values);

            values = null;
        },

        validate(value) {
            value = (typeof value === 'undefined') ? this.value_ : value;

            let isValid = true;
            let validateMessage = '';

            let max = (typeof this.maxLength !== 'undefined') ? this.maxLength - 0 : false;

            if ( this.required && !validateRequired(value) ) {
                // 必須
                isValid = false;
                validateMessage = 'メールアドレスを入力してください。';

            } else if ( !!String(value) && !validateEmail(value) ) {
                // メールアドレス形式
                isValid = false;
                validateMessage = 'メールアドレスの形式で入力してください。';

            } else if ( (max !== false) && !validateMaxlength(value, max) ) {
                // 最大文字数
                isValid = false;
                validateMessage = `メールアドレスを${max}文字以内で入力してください。`;
            }

            this.isValid = isValid;
            this.validateMessage = validateMessage;
        },
    }
};


export default {
    components: {
        'email-item': EmailItem
    },
    props: Object.assign({}, Props, {
        items: {
            type: Array, //{array<string>}
            default() {
                return [];
            }
        },
        minItemLength: {
            type: [String, Number],
            default: 1
        },
        maxItemLength: {
            type: [String, Number],
            default: -1
        },
    }),
    data() {
        return {
            emails: [].concat(this.items), //@type  {array<string>}
            isValids: [], //@type  {array<boolean>}
            isDuplication: false,
            validateMessages: []
        };
    },
    computed: {
        itemLength() {
            return this.emails.length;
        },
        max() {
            return Number.isNaN(this.maxItemLength - 0) ? -1 : this.maxItemLength - 0;
        },
        min() {
            return Number.isNaN(this.minItemLength - 0) ? 1 : this.minItemLength - 0;
        },
        isMax() {
            return (this.max > -1) && (this.itemLength >= this.max);
        },
        isMin() {
            return this.itemLength <= this.min;
        },
        isValid() {
            if (this.isDuplication) {
                return false; // 重複
            }
            for (let isValid of this.isValids) {
                if (!isValid) return false;
            }
            return true;
        }
    },
    mounted() {
        this.checkItem();
        this.validate();

        this.emit('init', 'mounted');
    },
    watch: {
        items(value) {
            this.emails.splice(0);
            this.emails = this.emails.concat(value);
            this.checkItem();
        }
    },
    methods: {
        checkItem() {
            let len = this.itemLength;

            if (len < this.min) {
                this.addItem(this.min - len);
            } else if ((this.max > -1) && (len > this.max)) {
                this.removeItem(this.max - 1, this.max);
            }
        },
        addItem(len) {
            if (len < 1) return;

            for (let i = 0; i < len; ++i) {
                this.emails.push('');
            }
            this.emit('add');
        },
        removeItem(index, len) {
            this.emails.splice(index, len);
            this.isValids.splice(index, len);

            this.emit('remove');
        },
        onClickAdd() {
            if (this.isMax) return;

            this.addItem(1);
        },
        onClickRemove(index) {
            if (this.isMin) return;

            this.removeItem(index, 1);
        },
        /**
         * @param  {object}  values
         *         {number}  values.index
         *         {string}  values.value
         *         {boolean} values.isValid
         */
        onMounted(values) {
            Vue.set(this.isValids, values.index, values.isValid);
        },
        /**
         * @param  {object}  values
         *         {number}  values.index
         *         {string}  values.value
         *         {boolean} values.isValid
         */
        onChange(values) {
            Vue.set(this.emails, values.index, values.value);
            Vue.set(this.isValids, values.index, values.isValid);

            this.validate();

            this.emit('change');
        },
        emit(type, eventName) {
            eventName = eventName || 'change';

            let values = {
                items: this.emails,
                isValid: this.isValid,
                type: type
            };
            this.$emit(eventName, values);

            values = null;
        },

        validate(emails) {
            emails = (typeof emails === 'undefined') ? this.emails : emails;

            this.validateMessages.splice(0);

            this.validateDuplication(emails);
        },
        // 重複
        validateDuplication(emails) {
            emails = (typeof emails === 'undefined') ? this.emails : emails;

            let result = validateDuplication(emails);

            this.isDuplication = !result.isValid;

            if (this.isDuplication) {
                for (let email of result.inValidValues) {
                    this.validateMessages.push(`${email}が重複しています。`);
                }
            }
        },
        removeEmptyItem() {
            let min = this.min;
            let emails = this.emails;
            let len = emails.length

            if (len <= min) return; //削除できない

            for (let i = 0, len = emails.length; i < len; ++i) {
                if ('' === emails[i]) {
                    emails.splice(i, 1);
                    --i;
                    --len;
                    if (len <= min) break;
                }
            }

            this.emit('remove');
        }
    }
}
</script>

<style scoped>
    .m-add-email {
        float: right;
        margin-left: 10px;
    }
    .m-emails {
        overflow: hidden;
        lint-style-type: none;
        padding: 0;
    }
    .m-emails > li {
        margin-bottom: 3px;
    }
</style>
