<template>
    <input-file
        v-bind:width="width"
        v-bind:height="height"
        v-bind:files="files"
        v-bind:id="id"
        v-bind:name="name"
        v-bind:accept="accept"
        v-on:change="onChange"></input-file>
</template>

<script>
import InputFile from './input-file';

export default {
    components: {
        'input-file': InputFile
    },
    props: {
        files: {
            type: Array,
            default: function() {
                return [];
            }
        },
        id: {
            type: String,
            default: false
        },
        name: {
            type: String,
            default: 'files[]'
        },
        width: {
            type: String
        },
        height: {
            type: String
        },
        accept: {
            type: String
        }
    },
    computed: {
        isValid: function() {
            if (!this.files.length) {
                return false;
            }

            for (var i = 0, len = this.files.length; i < len; ++i) {
                if (!this.files[i].isImage) {
                    return false;
                }
            }

            return true;
        },
        inValidText: function() {
            if (!this.files.length) {
                return 'ファイルが選択されていません。';
            } else if (!this.isValid) {
                return 'JPEG, PNG形式の画像ファイル以外は選択できません。';
            } else {
                return '';
            }
        }
    },
    methods: {
        onChange: function(files) {
            this.files = files;

            this.$emit('change', {
                files: this.files,
                isValid: this.isValid,
                inValidText: this.inValidText
            });
        }
    }
}
</script>
