<template>
    <div v-bind:class="wrapClass">
        <label class="m-checkbox"
            v-if="isLabel && hasText"
            v-bind:class="inputClass">
            <input type="checkbox"
                v-bind:id="id"
                v-bind:name="name"
                v-bind:value="value"
                v-bind:required="required"
                v-bind:disabled="disabled"
                v-bind:checked="checked_"
                v-on:change="onChange"
                v-on:click.stop>
            <span class="m-checkbox-icon"></span>
            <div class="m-checkbox-text"
                v-if="hasText"><slot></slot></div>
        </label>
        <div class="m-checkbox"
            v-else
            v-bind:class="inputClass">
            <label>
                <input type="checkbox"
                    v-bind:id="id"
                    v-bind:name="name"
                    v-bind:value="value"
                    v-bind:required="required"
                    v-bind:disabled="disabled"
                    v-bind:checked="checked_"
                    v-on:change="onChange"
                    v-on:click.stop>
                <span class="m-checkbox-icon"></span>
            </label>
            <div class="m-checkbox-text"
                v-if="hasText"><slot></slot></div>
        </div>
    </div>
</template>

<script>
import InputRadio from 'components/common/input-radio';

export default {
    extends: InputRadio,
    props: {
        trueValue: {
            type: null
        },
        falseValue: {
            type: null
        },
    },
    computed: {
        wrapClass() {
            return {
                'checkbox-inline': this.isInline,
                'checkbox': !this.isInline,
            };
        },
        trueValue_() {
            return (typeof this.trueValue === 'undefined')
                        ? this.value : this.trueValue;
        },
        falseValue_() {
            return (typeof this.falseValue === 'undefined')
                        ? null : this.falseValue;
        }
    },
    mounted() {
        if (typeof this.model !== 'undefined') {
            this.checked_ = (this.model === this.trueValue_);
        }
        if (!this.$slots.default) {
            this.hasText = false;
        }
    },
    watch: {
        model(value) {
            this.checked_ = (value === this.trueValue_);
        },
        checked(value) {
            this.checked_ = value;
        },
    },
    methods: {
        onChange() {
            this.checked_ = !this.checked_;
            this.$emit('change', this.checked_ ? this.trueValue_ : this.falseValue_);
        }
    },
}
</script>

<style lang="scss">
    $inputType: "checkbox";
    @import "~scss/input-radio-checkbox";
</style>
