<template>
    <div class="m-planetextInput">
        <span>{{ value }}</span>
        <input type="text" readonly ref="input"
            v-bind:id="id"
            v-bind:value="value">
    </div>
</template>

<script>
export default {
    props: {
        value: {
            type: [String, Number],
            default: '',
            required: true,
        },
        id: {
            type: String,
        },
    },
    methods: {
        // @return  {HTMLElement}
        getInputElement() {
            return this.$refs.input;
        }
    }
}
</script>

<style scoped>
    .m-planetextInput {
        position: relative;
        display: inline;
    }
    .m-planetextInput > input {
        position: absolute;
        top: 0;
        left: 0;
        appearance: none;
        margin: 0;
        padding: 0;
        background-color: transparent;
        width: 1px;
        height: 1px;
        border: 0;
        opacity: 0;
    }
</style>
