<template>
    <div>
        <input-file ref="inputFile"
            v-bind:class="files.length ? 'has-files' : false"
            v-bind:id="id"
            v-bind:name="name"
            v-bind:btn-type="btnType"
            v-bind:btn-size="btnSize"
            v-bind:disabled="disabled"
            v-bind:use-data-image="useDataImage"
            v-on:change="onChange"><slot>ファイル</slot></input-file>
        <ul class="m-inputFileState"
            v-if="files.length">
            <li
                v-for="(file, index) in files"
                v-bind:key="index">
                ファイル名： {{ file.name }}<br>
                ファイルタイプ： {{ file.type }}<br>
                サイズ： {{ file.size | size(sizeUnit) }}<br>
                <template v-if="isShowPreview && file.dataImage">
                    プレビュー：<br>
                    <img class="m-inputFileState-img"
                        v-bind:src="file.dataImage"
                        v-bind:alt="file.name">
                </template>
            </li>
        </ul>
    </div>
</template>

<script>
import InputFile from 'components/common/input-file';

export default {
    components: {
        'input-file': InputFile
    },
    props: Object.assign({}, InputFile.props, {
        items: {
            type: Array,
            default() {
                return [];
            }
        },
        sizeUnit: {
            type: String,
            default: 'mb'
        },
        isShowPreview: {
            type: Boolean,
            default: true
        }
    }),
    data() {
        return {
            files: [].concat(this.items)
        };
    },
    watch: {
        items(value) {
            this.setFiles(value);
        }
    },
    methods: {
        /**
         * @param  {array<object>}
         *         {string} files[n].name - file name
         *         {number} files[n].size - byte
         *         {string} files[n].mineType
         *         {string} files[n].type - mineTypeのスラッシュの前
         *         {string} files[n].webkitRelativePath
         *         {string} files[n].lastModified
         *         {string} files[n].dataImage - type=imageのみ
         *         {object} files[n].reader
         */
        onChange(files) {
            this.setFiles(files);
            this.$emit('change', files);
        },
        setFiles(files) {
            this.files.splice(0);

            if (files.length) {
                this.files = this.files.concat(files);
            }
        },
        reset() {
            let inputFile = this.$refs.inputFile;
            if (!inputFile || !inputFile.reset) return;

            inputFile.reset();
            this.files.splice(0);
        }
    }

}
</script>

<style scoped>
    .m-inputFile {
        vertical-align: top;
        margin-right: 10px;
    }
    .m-inputFile.has-files {
        margin-bottom: 5px;
    }
    .m-inputFileState {
        display: inline-block;
        vertical-align: top;
        padding: 0;
        list-style-type: none;
    }
    .m-inputFileState > li {
        border-bottom: 1px #ccc dotted;
        margin-bottom: 5px;
        padding-bottom: 5px;
    }
    .m-inputFileState > li:last-child {
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .m-inputFileState-img {
        height: auto;
        max-width: 200px;
    }
</style>
