<template>
    <span class="fa fa-fw"
        v-bind:class="wrapClass"
        v-bind:style="wrapStyle"></span>
</template>

<script>
export default {
    props: {
        type: {
            type: String,
            default: 'spinner' //spinner|refresh|circle-o-notch
        },
        iconSize: {
            type: [String, Number]
        },
        delay: {
            type: String,
            default: '0s'
        },
        duration: {
            type: String,
            default: '1s'
        },
        direction: {
            type: String,
            default: 'normal'
        },
        timingFunction: {
            type: String,
            default: 'ease-out'
        },
        iterationCount: {
            type: String,
            default: 'infinite'
        }
    },
    computed: {
        wrapClass() {
            return {
                ['fa-'+ this.type]: true
            };
        },
        wrapStyle() {
            return {
                'animation-delay': this.delay,
                'animation-duration': this.duration,
                'animation-direction': this.direction,
                'animation-timing-function': this.timingFunction,
                'animation-iteration-count': this.iterationCount,
                'width': !!this.iconSize ? this.iconSize + 'px' : '',
                'font-size': !!this.iconSize ? this.iconSize + 'px' : '',
            };
        }
    }
}
</script>

<style scoped>
    @-webkit-keyframes spin {
        0% {-webkit-transform: rotate(0deg);}
        100% {-webkit-transform: rotate(360deg);}
    }
    @-moz-keyframes spin {
        0% {-moz-transform: rotate(0deg);}
        100% {-moz-transform: rotate(360deg);}
    }
    @-ms-keyframes spin {
        0% {-ms-transform: rotate(0deg);}
        100% {-ms-transform: rotate(360deg);}
    }
    @-o-keyframes spin {
        0% {-o-transform: rotate(0deg);}
        100% {-o-transform: rotate(360deg);}
    }
    @keyframes spin {
        0% {transform: rotate(0deg);}
        100% {transform: rotate(360deg);}
    }
    .fa {
        -webkit-animation: spin 1s ease-out infinite;
        -moz-animation: spin 1s ease-out infinite;
        -ms-animation: spin 1s ease-out infinite;
        -o-animation: spin 1s ease-out infinite;
        animation: spin 1s ease-out infinite;
    }
</style>
