<template>
    <div class="m-loading"
        v-bind:style="wrapStyle">
        <loading-icon class="m-loading-icon"
            v-bind:type="type"
            v-bind:icon-size="iconSize"></loading-icon>
    </div>
</template>

<script>
import LoadingIcon from 'components/common/loading-icon';

export default {
    props: {
        isFixed: {
            type: [String, Boolean],
            default: false
        },
        zIndex: {
            type: [String, Number],
            default: 1500
        },
        type: {
            type: String,
            default: 'spinner' //spinner|refresh|circle-o-notch
        },
        iconSize: {
            type: [String, Number],
            default: 35
        },
        delay: {
            type: String,
            default: '0s'
        },
        duration: {
            type: String,
            default: '1s'
        },
        direction: {
            type: String,
            default: 'normal'
        },
        timingFunction: {
            type: String,
            default: 'ease-out'
        },
        iterationCount: {
            type: String,
            default: 'infinite'
        }
    },
    components: {
        'loading-icon': LoadingIcon
    },
    computed: {
        isFixed_() {
            let v = this.isFixed;

            if (typeof v === 'boolean') {
                return v;
            } else if ('true' === v) {
                return true;
            } else {
                return false;
            }
        },
        wrapStyle() {
            return {
                'position': this.isFixed_ ? 'fixed' : 'absolute',
                'z-index': (this.zIndex !== '') ? this.zIndex : ''
            };
        }
    }
}
</script>

<style scoped>
    .m-loading {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        width: auto;
        background-color: rgba(0,0,0, 0.5);
    }
    .m-loading-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: 0 0 0 0;
        color: #fff;
    }
</style>
