<template>
    <loading-block z-index="9999"
        v-if="isShow"
        v-bind:is-fixed="true"></loading-block>
</template>

<script>
import LoadingBlock from 'components/common/loading-block';

export default {
    components: {
        'loading-block': LoadingBlock
    },
    data() {
        return {
            isShow: false
        };
    },
    mounted() {
        this.$root.$on('SHOW_PAGE_LOADING', () => {
            this.isShow = true;
        });
        this.$root.$on('HIDE_PAGE_LOADING',() => {
            this.isShow = false;
        });
    }
}
</script>
