<template>
    <div class="m-timeSet">
        <select-time type="hour"
            v-bind:id="hourId"
            v-bind:name="hourName"
            v-bind:value="hourValue"
            v-bind:disabled="disabled"
            v-on:change="onChange('hour', $event)"></select-time>
        <span>:</span>
        <select-time type="minute"
            v-bind:id="minuteId"
            v-bind:name="minuteName"
            v-bind:value="minuteValue"
            v-bind:disabled="disabled"
            v-on:change="onChange('minute', $event)"></select-time>
        <template v-if="isSecond">
            <span>:</span>
            <select-time type="second"
                v-bind:id="secondId"
                v-bind:name="secondName"
                v-bind:value="secondValue"
                v-bind:disabled="disabled"
                v-on:change="onChange('second', $event)"></select-time>
        </template>
    </div>
</template>

<script>
import SelectTime from './select-time';

// TODO v-modelで利用できるように

export default {
    components: {
        'select-time': SelectTime
    },
    props: {
        prefName: {
            type: String
        },
        prefId: {
            type: String,
        },
        isSecond: {
            type: Boolean,
            default: false
        },
        defaultValue: {
            type: String,
            default: '000000'
        },
        value: {
            type: String,
            default: '',
            validator(value) {
                let len = value.length;
                return (len <= 6) && !(len % 2);
            }
        },
        disabled: {
            type: Boolean,
            default: false
        },
    },
    data() {
        return {
            // @type  {string}
            hourValue  : '',
            // @type  {string}
            minuteValue: '',
            // @type  {string}
            secondValue: ''
        };
    },
    computed: {
        // @return  {string}
        hourId() {
            return this.getId('hour');
        },
        // @return  {string}
        hourName() {
            return this.getName('hour');
        },
        // @return  {string}
        minuteId() {
            return this.getId('minute');
        },
        // @return  {string}
        minuteName() {
            return this.getName('minute');
        },
        // @return  {string}
        secondId() {
            return this.getId('second');
        },
        // @return  {string}
        secondName() {
            return this.getName('second');
        },
        // @return  {string}
        timeValue() {
            return this.hourValue + this.minuteValue + this.secondValue + '';
        }
    },
    mounted() {
        this.setValues(this.value);
    },
    watch: {
        value(value) {
            this.setValues(value);
        }
    },
    methods: {
        /**
         * @param  {string}  value
         */
        setValues(value) {
            if (typeof value === 'undefined') return;

            this.hourValue   = this.getValue('hour',   value);
            this.minuteValue = this.getValue('minute', value);
            this.secondValue = this.getValue('second', value);
        },
        /**
         * @param  {string}  target - hour|minute|second
         * @param  {string}  value
         * @return {string}
         */
        getValue(target, value) {
            if (!target || (typeof value === 'undefined')) {
                // required
                return '';
            }
            value = ('' === value) ? this.defaultValue : value;

            switch (target) {
                case 'hour':
                    return value.substr(0, 2);
                case 'minute':
                    return value.substr(2, 2) || '00';
                case 'second':
                    return value.substr(4, 2) || '00';
            }
        },
        /**
         * @param  {string}  target - hour|minute|second
         * @return {string}
         */
        getId(target) {
            if (!this.prefId || !target) return;
            return this.prefId + '_' + target;
        },
        /**
         * @param  {string}  target - hour|minute|second
         * @return {string}
         */
        getName(target) {
            if (!this.prefName || !target) return;
            return this.prefName + '_' + target;
        },
        /**
         * @param  {string}  target - hour|minute|second
         * @param  {string}  value
         */
        onChange(target, value) {
            if (this.disabled) return;

            switch (target) {
                case 'hour':
                    this.hourValue = value;
                    break;
                case 'minute':
                    this.minuteValue = value;
                    break;
                case 'second':
                    this.secondValue = value;
                    break;
            }
            this.$emit('change', this.timeValue);
        }
    }
}
</script>

<style scoped>
    .m-timeSet {
      display: inline-block;
      vertical-align: middle;
    }
    .m-timeSet .form-control {
      display: inline-block;
      width: auto;
    }
</style>
