<template>
    <div>
        <router-link class="btn btn-default btn-sm"
                     v-if="!disabled"
                     to="/select/user_list">{{ btnText }}
        </router-link>
        <button type="button" class="btn btn-default btn-sm" disabled
                v-else>{{ btnText }}
        </button>

        <ul class="u_mt5 u_mbNone">
            <li is="user-list-data"
                v-for="item in selectedItems"
                v-bind:key="item.id"
                v-bind:item="item"></li>
        </ul>
        <input type="hidden"
               v-bind:name="name"
               v-bind:value="selectedIds">
    </div>
</template>

<script>

    const UserListData = {
        template:
            `<li>{{ title }} ({{ total | numberFormat }}件)</li>`,
        props: {
            item: {
                type: Object,
                default() {
                    return {};
                }
            }
        },
        computed: {
            item_() {
                return this.item.attributes || {};
            },
            title() {
                return this.item_.title || '-';
            },
            total() {
                return this.item_.total || '-';
            },
        }
    };


    export default {

        props: {
            selectedIds: {
                type: Array,
                required: true
            },
            name: {
                type: String
            },
            disabled: {
                type: Boolean,
                default: false
            }
        },

        components: {
            'user-list-data': UserListData
        },

        computed: {

            selectedItems() {
                let items = this.$store.getters['user-lists/items'];
                let selectedIds = this.selectedIds;// || this.$store.getters['message-set/sendLists'];
                return items.filter((item) => (selectedIds.indexOf(item.id) !== -1));
            },

            btnText() {
                return (this.selectedItems.length > 0) ? '編集' : '選択';
            },
        },

        mounted() {
            console.log("test");
        }
    }
</script>
