<template>
    <select class="form-control"
        v-model="value_"
        v-bind:disabled="disabled"
        v-on:change="onChange">
        <option
            v-for="oValue in optionValues"
            v-bind:key="oValue"
            v-bind:value="oValue">{{ oValue | zeroPadding(2) }}</option>
    </select>
</template>

<script>
/**
 * selectboxで時間or分or秒表示
 */
import {getZeroPadding} from '../../util';

export default {
    props: {
        type: {
            type: String,
            default: 'hour', //hour|minute|second
            required: true
        },
        value: {
            type: [String, Number],
            default: '00',
            validator(value) {
                return (value + '').length <= 2;
            }
        },
        disabled: {
            type: Boolean,
            default: false
        },
    },
    data() {
        return {
            // @type  {string}
            value_: ''
        };
    },
    counts: {
        hour  : 23,
        minute: 59,
        second: 59
    },
    computed: {
        // @return  {array}
        optionValues() {
            let values = [];
            let counts = this.$options.counts;
            let count = counts[this.type];

            for (var i = 0; i <= count; ++i) {
                values.push(this.getZeroPadding(i));
            }
            return values;
        }
    },
    mounted() {
        this.setValue(this.value);
    },
    watch: {
        value(value) {
            this.setValue(value);
        }
    },
    methods: {
        /**
         * @param  {string|number}  value
         */
        setValue(value) {
            if (typeof value === 'undefined') return;
            this.value_ = this.getZeroPadding(value);
        },
        /**
         * @param  {string|number}  value
         * @return {string}
         */
        getZeroPadding(value) {
            return getZeroPadding(value, 2);
        },
        onChange() {
            if (this.disabled) return;

            this.$emit('change', this.value_);
        }
    }
}
</script>
