<template>
    <p
        v-bind:class="wrapClass"
        v-bind:style="wrapStyle">{{ length }}/{{ maxLength}}</p>
</template>

<script>
export default {
    props: {
        value: {
            type: String,
            default: '',
            required: true
        },
        maxLength: {
            type: [String, Number],
            default: 100,
            required: true
        }
    },
    computed: {
        length() {
            return this.value.length;
        },
        isOver() {
            return this.length > (this.maxLength - 0);
        },
        wrapClass() {
            return this.isOver ? 'text-danger' : '';
        },
        wrapStyle() {
            return this.isOver ? 'font-weight: bold' : '';
        }
    },
    watch: {
        isOver(value) {
            if (value) {
                this.$emit('error', 'over');
            } else {
                this.$emit('success');
            }
        }
    }
}
</script>
