<template>
    <textarea class="form-control"
        v-model="value_"
        v-on:keydown="onKeydown"></textarea>
</template>

<script>
import {setCursorIndex, getInsertString, getCursorIndex, isCmdOrCtrl} from '../../util';

export default {
    props: {
        value: {
            type: null,
            default: ''
        }
    },
    computed: {
        value_: {
            get() {
                return this.value;
            },
            set(value) {
                this.$emit('change', value);
            }
        }
    },
    watch: {
        value_(value, oldValue) {
            this.$options._cache_value = oldValue;
        }
    },
    _cache_value: '',
    methods: {
        /**
         * @param  {string}  insertText
         */
        insertAtCaret(insertText) {
            insertText = insertText || '';

            let el = this.$el;
            let scrollPos = el.scrollTop;
            let cursorIndex = getCursorIndex(el);

            this.value_ = getInsertString(this.value_, cursorIndex, insertText);

            el.focus();

            this.$nextTick(function() {
                setCursorIndex(el, cursorIndex + insertText.length);
                el.scrollTop = scrollPos;
            });
        },
        onKeydown(e) {
            if ( !isCmdOrCtrl(e) || (e.keyCode != 90) ) return;

            // ctrl + z
            e.preventDefault();
            this.onRevert();
        },
        onRevert() {
            this.value_ = this.$options._cache_value;
        }
    }
}

</script>
