<template>
    <div class="m-tooltip"
        v-bind:style="wrapStyle">
        <i ref="trigger"
            v-bind:class="triggerClass"
            v-bind:style="triggerStyle"
            v-on:mouseover.self="isShow = true"
            v-on:mouseout.self="isShow = false"><slot name="text"></slot></i>
        <transition name="fade"
            v-on:enter="onTransitionEnter">
            <div class="tooltip"
                ref="tooltip"
                v-show="isShow"
                v-bind:class="tooltipClass"
                v-bind:style="tooltipStyle">
                <div class="tooltip-inner"><slot name="message"></slot></div>
                <div class="tooltip-arrow"></div>
            </div>
        </transition>
    </div>
</template>

<script>
/**
 * bootstrap tooltip
 * http://bootstrapdocs.com/v3.1.1/docs/javascript/#tooltips
 */
// dependence
const $ = window.$ || window.jQuery;

export default {
    props: {
        type: {
            type: String,
            default: 'icon' //icon|text
        },
        triggerClass: {
            type: String
        },
        width: {
            type: [String, Number],
            default: 180,
            validator(value) {
                return !(Number.isNaN(value - 0));
            }
        },
        placement: {
            type: String,
            default: 'top' //top|bottom|left|right|top-left|top-right|bottom-left|bottom-right
        },
        verticalAlign: {
            type: String
        },
        color: {
            type: String
        }
    },
    data() {
        return {
            isShow: false,
            triggerHeight: 0,
            triggerWidth: 0,
            tooltipHeight: 0
        }
    },
    computed: {
        wrapStyle() {
            return {
                'vertical-align': this.verticalAlign ? this.verticalAlign : false
            };
        },
        tooltipClass() {
            return this.placement;
        },
        triggerStyle() {
            return {
                'color': this.color
            };
        },
        top() {
            return (this.placement.indexOf('bottom') > -1)
                        ? this.triggerHeight + 'px' : 'auto';
        },
        bottom() {
            return (this.placement.indexOf('top') > -1)
                        ? this.triggerHeight + 'px' : 'auto';
        },
        marginTop() {
            if ('left' === this.placement || 'right' === this.placement) {
                let t = Math.ceil(this.tooltipHeight / 2) + Math.ceil(this.triggerHeight / 2);
                return -t + 'px';
            }
            return 0;
        },
        marginLeft() {
            let marginLeft = 0;

            if ('top' === this.placement || 'bottom' === this.placement) {
                let toolW    = Math.ceil(this.width / 2);
                let triggerW = Math.ceil(this.triggerWidth / 2);
                marginLeft = -(toolW - triggerW);

            } else if ('left' === this.placement) {
                marginLeft = -(this.width);

            } else if ('right' === this.placement) {
                marginLeft = this.triggerWidth;

            } else if (this.placement.indexOf('-left') > -1) {
                marginLeft = -(this.width - this.triggerWidth - 5);

            } else if (this.placement.indexOf('-right') > -1) {
                marginLeft = -5;
            }

            return marginLeft + 'px';
        },
        tooltipStyle() {
            return {
                'width' : this.width + 'px',
                'bottom': this.bottom,
                'top': this.top,
                'margin-top': this.marginTop,
                'margin-left': this.marginLeft
            };
        }
    },
    mounted() {
        this.$nextTick(function() {
            let trigger = this.$refs.trigger;

            if (!!trigger) {
                this.triggerHeight = trigger.clientHeight;
                this.triggerWidth = trigger.clientWidth;
            }
        });
    },
    methods: {
        onTransitionEnter() {
            let tooltip = this.$refs.tooltip;

            if (!!tooltip) {
                this.tooltipHeight = tooltip.clientHeight;
            }
        }
    }
}
</script>

<style scoped>
    .m-tooltip {
        position: relative;
        display: inline-block;
        vertical-align: baseline;
        line-height: 1 !important;
    }
    .m-tooltip > i {
        display: inline-block;
    }
</style>
