<template>
    <select class="form-control"
        v-bind:name="name"
        v-bind:id="id"
        v-bind:required="required"
        v-bind:disabled="disabled"
        v-bind:multiple="multiple"
        v-on:change="onChange">
        <option
            v-for="(option, index) in options_"
            v-bind:key="index"
            v-bind:value="option.value"
            v-bind:disabled="option.disabled"
            v-bind:selected="model === option.value">{{ option.label }}</option>
    </select>
</template>

<script>
import {getSelectedValue} from '../../util';

export default {
    model: {
        prop: 'model',
        event: 'change'
    },
    props: {
        model: {
            default: undefined,
        },
        options: {
            type: Array, //array<object>
            required: true,
            default() {
                return [
                    {
                        label: '',
                        value: '',
                        disabled: false
                    }
                ];
            }
        },
        placeholderValue: {
            type: String
        },
        placeholderLabel: {
            type: String,
            default: '-- 選択してください --'
        },
        id: {
            type: String,
            default: ''
        },
        name: {
            type: String,
            default: null,
        },
        required: {
            type: Boolean,
            default: false,
        },
        disabled: {
            type: Boolean,
            default: false,
        },
        multiple: {
            type: Boolean,
            default: false,
        }
    },
    computed: {
        options_() {
            if (typeof this.placeholderValue === 'undefined') {
                return this.options;
            }
            let options = [{
                label: this.placeholderLabel,
                value: this.placeholderValue,
                disabled: false
            }];

            return options.concat(this.options);
        }
    },
    methods: {
        onChange(e) {
            let selectbox = e.currentTarget;
            this.$emit('change', getSelectedValue(selectbox));
        }
    },
}
</script>
