<template>
    <div class="m-validateHint"
        v-bind:class="wrapClass">
        <slot></slot>
        <transition name="fade">
            <div class="tooltip top"
                v-if="!isValid">
                <div class="tooltip-inner">{{ message }}</div><div class="tooltip-arrow"></div>
            </div>
        </transition>
    </div>
</template>

<script>
import Vue from 'vue';
import Config from '../../config';
import * as Utils from '../../util';

export default {
    props: {
        value: {
            required: true
        },
        rules: {
            type: [Array, String], //post|tel|email|alphanum|alphabet|kana|url
            required: true
        },
        messages: {
            type: [Object, String]
            // type=object - object<string>、keyをruleと合わせる
            // {alphanum: 'ユーザーIDは半角英数字のみです'}
        },
    },
    data() {
        return {
            inValidRule: ''
        };
    },
    computed: {
        isValid(value) {
            if (value) {
                this.inValidRule = '';
            }
            return this.validate(this.value);
        },
        message() {
            return this.getMessage();
        },
        wrapClass() {
            return this.isValid ? false : 'has-error';
        }
    },
    methods: {
        // 単体rule
        validate(value) {
            value = (typeof value === 'undefined') ? this.value : value;

            if ('' === value) {
                return true; //未入力はOK
            } else if ( Array.isArray(this.rules) ) {
                return this.validates(value);
            } else if (typeof this.rules !== 'string') {
                return true;
            }

            let rule = this.rules;
            let validate = Utils['validate' + Utils.ucfirst(rule)];

            if (typeof validate === 'function' && !validate(value)) {
                this.inValidRule = rule;
                return false;
            } else {
                return true; //validate ruleがないのでOKで返す
            }
        },
        validates(value) {
            value = (typeof value === 'undefined') ? this.value : value;

            if ('' === value) {
                return true; //未入力はOK
            }

            for (let rule of this.rules) {
                let validate = Utils['validate' + Utils.ucfirst(rule)];

                if ( (typeof validate === 'function') && !validate(value) ) {
                    this.inValidRule = rule;
                    return false; //NG
                }
            }

            return true; //OK
        },
        // @return  {string}
        getMessage() {
            if ((typeof this.rules === 'string') && (typeof this.messages === 'string')) {
                return this.messages;
            }

            let defaultMessages = Config.validate_default_messages || {};
            let messages = ((typeof this.messages === 'object') && !Array.isArray(this.messages) )
                                ? this.messages : defaultMessages;
            let r = this.inValidRule;

            return messages[r] || defaultMessages[r] || '';
        }
    }
}
</script>

<style scoped>
    .m-validateHint {
        display: inline-block;
        position: relative;
    }
    .m-validateHint .tooltip.top {
        top: 0;
        margin-top: 0;
        transform: translateY(-100%);
    }
    .m-validateHint .tooltip-inner {
        max-width: none;
        background-color: #dd4b39;
        white-space: nowrap;
    }
    .m-validateHint .tooltip-arrow {
        border-top-color: #dd4b39;
    }
</style>
