<template>
    <video
        v-bind:controls="controls_"
        v-bind:poster="poster">
        <source v-bind:src="src">
        <slot><p>ブラウザが動画再生に対応していません</p></slot>
    </video>
</template>

<script>
export default {
    props: {
        src: {
            type: String,
        },
        poster: {
            type: String
        },
        controls: {
            type: Boolean,
            default: true
        }
    },
    data() {
        return {
            controls_: this.controls
        }
    },
    watch: {
        src(value) {
            this.$el.pause();
            if (value.indexOf('http') === 0) {
                this.$el.src = value;
                this.controls_ = this.controls;
            } else {
                this.$el.src = '';
                this.controls_ = false;
            }
        }
    },
}
</script>
