<template>
  <div id="app">
    <div class="wrapper">

      <NavBar></NavBar>

      <SideMenuBar :slideMenuItems="slideMenuItems"></SideMenuBar>

      <ContentWrap></ContentWrap>


    </div>
  </div>
</template>

<script>
    import NavBar from 'NavBar'
    import SideMenuBar from 'SideMenuBar'
    import ContentWrap from 'ContentWrap'
    import store from './vuex/store'

    export default {
        name: 'app',
        data () {
            return {
                slideMenuItems: [

                    // {
                    //     type: 'item',
                    //     isHeader: true,
                    //     name: 'MAIN NAVIGATION'
                    // },
                    // {
                    //     type: 'tree',
                    //     icon: 'fa fa-dashboard',
                    //     name: 'Dashboard',
                    //     items: [
                    //         {
                    //             type: 'item',
                    //             icon: 'fa fa-circle-o',
                    //             name: 'hello',
                    //             router: {
                    //                 name: 'HelloWorld'
                    //             }
                    //         }
                    //     ]
                    // },
                    {
                        type: 'item',
                        icon: 'fa fa-circle-o',
                        name: '環境設定',
                        router: {
                            name: 'Settings'
                        }
                    },
                    {
                        type: 'item',
                        icon: 'fa fa-circle-o',
                        name: 'プロジェクト',
                        router: {
                            name: 'Projects'
                        }
                    },
                    {
                        type: 'item',
                        icon: 'fa fa-circle-o',
                        name: 'メンバー',
                        router: {
                            name: 'Members'
                        }
                    },
                    {
                        type: 'item',
                        icon: 'fa fa-circle-o',
                        name: 'カンバン',
                        router: {
                            name: 'Kanban'
                        }
                    },
                ]
            }
        },
        created () {
        },
        components: {
            NavBar,
            SideMenuBar,
            ContentWrap
        },
        store
    }
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*text-align: center;*/
  color: #2c3e50;
  /*margin-top: 60px;*/
}
</style>
