@charset "UTF-8";

$inputType: "radio" !default; //radio|checkbox
$_inputBorderRadius: 0.5em !default;
$_inputIconBorderColor: #d2d6de !default;

$_iconWidth: 1em !default;
$_iconLeft: 0 !default;
$_iconTextAlign: center !default;

$red: #dd4b39 !important;

@if $inputType == "checkbox" {
    $_inputBorderRadius: 0.1em;
}

@if $inputType == "select" {
    $_inputIconBorderColor: rgba(0,0,0,0);
    $_iconWidth: 3em;
    $_iconLeft: -1.7em;
    $_iconTextAlign: right;
}


.#{$inputType}-row {
    //overflow: hidden;
    position: relative;
    font-weight: normal;
    padding-left: 1.35em;
    margin-bottom: 0;
    vertical-align: top;

    margin-top: 7px;
    &:first-child{
        margin-top: 0;
    }

    .btn-delete {
        position: absolute;
        right: 0;
        bottom: 0;
        font-size: 16px;
        transition: color .3s ease;
        &:hover{
            color: $red
        }
    }
}

.#{$inputType}-icon {
    display: block;
    position: absolute;
    left: $_iconLeft;
    top: 50%;
    bottom: 0;
    margin-top: -0.50em;
    width: $_iconWidth;
    height: 1em;
    border-radius: $_inputBorderRadius;
    border: 1px $_inputIconBorderColor solid;
    line-height: 1;
    text-align: $_iconTextAlign;
    cursor: pointer;
}

input[type=text].#{$inputType}-text {
    width: calc(100% - 25px);
    height: 34px;
    padding: 6px 12px 6px 2px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;

    border: 1px solid rgba(0,0,0,0);
    border-bottom-color: #d2d6de;
    cursor: pointer;

    transition: border .15s ease;
    &:hover{
        border-color: #d2d6de;
    }
    &:focus {
        border-color: #3c8dbc;
        box-shadow: none;
        cursor: text;
    }
}

.text-row {
    width: calc(100% - 25px);
    height: 34px;
    padding: 6px 12px 6px 2px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;

    border: 1px solid rgba(0,0,0,0);
    border-bottom-color: #d2d6de;

    transition: border .15s ease;
    &:hover{
        border-color: #d2d6de;
    }
    &:focus {
        border-color: #3c8dbc;
        box-shadow: none;
        cursor: text;
    }
}
