@charset "UTF-8";

$inputType: "radio" !default; //radio|checkbox
$inputBorderRadius: 0.5em !default;

@if $inputType == "checkbox" {
    $inputBorderRadius: 0.1em;
}

.#{$inputType}-inline {
    padding-left: 0;
}

.m-#{$inputType} {
    overflow: hidden;
    position: relative;
    font-weight: normal;
    padding-left: 1.35em;
    margin-bottom: 0;
    vertical-align: top;

    &.is-disabled {
        cursor: not-allowed;
        color: #999;
    }
    input[type="#{$inputType}"] {
        -webkit-appearance: none;
        appearance: none;
        position: absolute !important;
        z-index: 1;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        opacity: 0;
        margin: 0;
        padding: 0;
    }
    &.no-text {
        display: inline-block;
        padding-left: 0;
    }
    > label {
        display: inline;
        max-width: none;
        min-height: none;
        padding: 0;
        margin: 0;
    }
}

.m-#{$inputType}-icon {
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    bottom: 0;
    margin-top: -0.55em;
    width: 1em;
    height: 1em;
    border-radius: $inputBorderRadius;
    border: 1px #d2d6de solid;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    .m-#{$inputType}.is-disabled & {
        cursor: not-allowed;
        background-color: #eee;
    }
    .m-#{$inputType}:not(.is-disabled):hover & {
        border-color: #2b8ac3;
    }
    .m-#{$inputType}.no-text & {
        display: inline-block;
        position: relative;
        bottom: auto;
    }
    input[type="#{$inputType}"]:checked + & {
        border-color: #2b8ac3;
        background-color: #2b8ac3;
    }
    .is-disabled > input[type="#{$inputType}"]:checked + & {
        border-color: #888;
        background-color: #888;
    }
    input[type="#{$inputType}"]:checked + &:after {
        content: "\f00c";
        display: inline-block;
        color: #fff;
        font-family: "FontAwesome";
        font-size: 70%;
        width: 1em;
        height: 1em;
        position: absolute;
        top: 0.1em;
        left: 0.1em;
    }
}

.m-#{$inputType}-text {
    position: relative;
    z-index: 2;
    cursor: pointer;
    .m-#{$inputType}.is-disabled & {
        cursor: not-allowed;
    }
}
